/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  font-weight: 300; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

@keyframes hello-world {
  from {
    opacity: 0;
    transform: scale(1.04); }
  to {
    opacity: 1;
    transform: scale(1); } }

@keyframes winter-spring {
  from {
    transform: scale(1.04); }
  to {
    transform: scale(1); } }

@keyframes jelly-pop {
  0% {
    opacity: 0;
    transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% {
    opacity: 1;
    transform: matrix3d(0.384, 0, 0, 0, 0, 0.466, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% {
    transform: matrix3d(0.505, 0, 0, 0, 0, 0.639, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% {
    transform: matrix3d(0.693, 0, 0, 0, 0, 0.904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% {
    transform: matrix3d(0.895, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% {
    transform: matrix3d(0.947, 0, 0, 0, 0, 1.204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% {
    transform: matrix3d(1.111, 0, 0, 0, 0, 1.299, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% {
    transform: matrix3d(1.127, 0, 0, 0, 0, 1.298, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% {
    transform: matrix3d(1.187, 0, 0, 0, 0, 1.216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% {
    transform: matrix3d(1.191, 0, 0, 0, 0, 1.169, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% {
    transform: matrix3d(1.177, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% {
    transform: matrix3d(1.135, 0, 0, 0, 0, 0.964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 0.944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% {
    transform: matrix3d(1.057, 0, 0, 0, 0, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% {
    transform: matrix3d(1.043, 0, 0, 0, 0, 0.909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% {
    transform: matrix3d(0.981, 0, 0, 0, 0, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% {
    transform: matrix3d(0.974, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% {
    transform: matrix3d(0.965, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% {
    transform: matrix3d(0.969, 0, 0, 0, 0, 1.029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% {
    transform: matrix3d(0.992, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% {
    transform: matrix3d(1.005, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

:root {
  --bodyBackground: white;
  --colorText: #242424;
  --colorLink: #ff2450;
  --colorLinkInvert: #fff;
  --iconStroke: rgba(0, 0, 0, 0.21);
  --visited: #b5b5b5;
  --visitedInvert: white;
  --sizeBody: 16px; }
  @media screen and (min-width: 600px) {
    :root {
      --sizeBody: 18px; } }
  @media screen and (min-width: 990px) {
    :root {
      --sizeBody: 20px; } }

html {
  background: var(--bodyBackground);
  font-size: var(--sizeBody);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  text-rendering: optimizeLegibility;
  transition-duration: 294ms;
  transition-property: background;
  --colorLink: #ff2450;
  --colorLinkInvert: #fff; }
  html.is-articles, html.is-post {
    --colorLink: #2478ff;
    --colorLinkInvert: #fff; }
  html.is-open-source {
    --colorLink: #24ff70;
    --colorLinkInvert: rgba(0, 0, 0, 0.71); }
  html.is-projects {
    --colorLink: #ff5724;
    --colorLinkInvert: #fff; }
  html.is-favourites {
    --colorLink: #24ffde;
    --colorLinkInvert: rgba(0, 0, 0, 0.71); }
  html.is-links {
    --colorLink: #9524ff;
    --colorLinkInvert: #fff; }

code,
pre {
  font-family: "Inconsolata", "Consolas", "Monaco", monospace; }

body {
  color: var(--colorText);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1.6; }

a {
  color: var(--colorLink);
  cursor: pointer;
  text-decoration: none; }

hr {
  background: #dbdbdb;
  border: none;
  display: block;
  height: 1px; }

img {
  max-height: 100%;
  max-width: 100%; }

strong {
  color: #242424;
  font-weight: 600; }

svg {
  height: auto;
  max-height: 100px;
  max-width: 200px;
  width: auto; }
  svg path {
    transition: fill 294ms ease-out; }

pre {
  white-space: pre;
  word-wrap: normal; }

::-moz-selection {
  background: var(--colorLink);
  color: var(--colorLinkInvert); }

::selection {
  background: var(--colorLink);
  color: var(--colorLinkInvert); }

.square {
  animation: none 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  height: 32px;
  position: relative;
  width: 32px; }

.square-rect {
  stroke: var(--iconStroke); }

.square-mini {
  background-size: 100%;
  border: 2px solid var(--iconStroke);
  display: block;
  height: 12px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 12px; }
  .square-mini:before, .square-mini:after {
    background-size: 100%;
    border: 2px solid var(--iconStroke);
    display: block;
    height: 12px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 12px; }
  .square-mini:before, .square-mini:after {
    content: '';
    position: relative; }

.square-mini-1 {
  animation: none 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  left: 4px; }
  .square-mini-1:before, .square-mini-1:after {
    height: 10px;
    visibility: hidden;
    width: 10px; }
  .square-mini-1:before {
    animation: none 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    opacity: .6; }
  .square-mini-1:after {
    animation: none 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    opacity: .75; }

.square-mini-2 {
  animation: none 1s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  left: 10px;
  top: -8px; }
  .square-mini-2:before, .square-mini-2:after {
    height: 6px;
    visibility: hidden;
    width: 6px; }
  .square-mini-2:before {
    animation: none 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    opacity: .25; }
  .square-mini-2:after {
    animation: none 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    opacity: .4; }

.glyph .square,
.nav-link:hover .square {
  animation-name: squarePulse; }

.glyph .square-mini-1,
.nav-link:hover .square-mini-1 {
  animation-name: squareFloatMain-1; }
  .glyph .square-mini-1:before,
  .nav-link:hover .square-mini-1:before {
    animation-name: squareFloatSub-1; }
  .glyph .square-mini-1:after,
  .nav-link:hover .square-mini-1:after {
    animation-name: squareFloatSub-2; }

.glyph .square-mini-2,
.nav-link:hover .square-mini-2 {
  animation-name: squareFloatMain-2; }
  .glyph .square-mini-2:before,
  .nav-link:hover .square-mini-2:before {
    animation-name: squareFloatSub-3; }
  .glyph .square-mini-2:after,
  .nav-link:hover .square-mini-2:after {
    animation-name: squareFloatSub-4; }

.glyph .square,
html:not(.is-hovering) .nav-link.is-active .square {
  --iconStroke: #2478ff; }

@keyframes squarePulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); } }

@keyframes squareUnlike {
  50% {
    transform: scale(0.75); } }

@keyframes squareFloatMain-1 {
  0% {
    opacity: 0;
    transform: translate(0) rotate(0); }
  50% {
    opacity: 1;
    transform: translate(0, -25px) rotate(-20deg); } }

@keyframes squareFloatMain-2 {
  0% {
    opacity: 0;
    transform: translate(0) rotate(0) scale(0); }
  50% {
    opacity: .9;
    transform: translate(-10px, -38px) rotate(25deg) scale(1); } }

@keyframes squareFloatSub-1 {
  0% {
    transform: translate(0) rotate(0);
    visibility: hidden; }
  50% {
    transform: translate(13px, -13px) rotate(30deg);
    visibility: visible; } }

@keyframes squareFloatSub-2 {
  0% {
    transform: translate(0) rotate(0);
    visibility: hidden; }
  50% {
    transform: translate(18px, -10px) rotate(55deg);
    visibility: visible; } }

@keyframes squareFloatSub-3 {
  0% {
    transform: translate(0) rotate(0);
    visibility: hidden; }
  50% {
    transform: translate(-10px, -10px) rotate(-40deg);
    visibility: visible; }
  100% {
    transform: translate(-50px, 0); } }

@keyframes squareFloatSub-4 {
  0% {
    transform: translate(0) rotate(0);
    visibility: hidden; }
  50% {
    transform: translate(2px, -18px) rotate(-25deg);
    visibility: visible; } }

.circle {
  height: 32px;
  position: relative;
  width: 32px; }

.circle-circle {
  animation: none 1s ease-in-out both;
  stroke: var(--iconStroke);
  stroke-dasharray: 90;
  stroke-dashoffset: 0;
  transform-origin: center center; }

.circle-ripple {
  animation: none 2s ease-out both;
  animation-iteration-count: infinite;
  border: 2px solid var(--iconStroke);
  border-radius: 290486px;
  opacity: 0;
  position: absolute;
  height: 32px;
  width: 32px; }

.circle-ripple-1 {
  animation-delay: 0.25s; }

.circle-ripple-2 {
  animation-delay: 0.5s;
  border-width: 1px; }

.glyph .circle-circle,
.nav-link:hover .circle-circle {
  animation-name: circleDash; }

.glyph .circle-ripple,
.nav-link:hover .circle-ripple {
  animation-name: circleRipple; }

.glyph .circle,
html:not(.is-hovering) .nav-link.is-active .circle {
  --iconStroke: #24ff70; }

@keyframes circleRipple {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5); }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0;
    transform: scale(2, 2); } }

@keyframes circleDash {
  0% {
    stroke-dashoffset: 90;
    transform: rotate(0deg); }
  100% {
    stroke-dashoffset: 0;
    transform: rotate(359deg); } }

.up {
  position: relative; }

.up-container {
  animation-delay: -0.5s;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

.up-svg {
  animation: none 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

.up-polygon {
  stroke: var(--iconStroke); }

.up-road {
  animation: none 1s linear both;
  height: 16px;
  position: absolute;
  transform-origin: center center;
  width: 2px; }

.up-road-1 {
  left: 4px;
  top: 100%; }

.up-road-2 {
  height: 8px;
  left: -4px;
  top: 150%; }

.up-road-3 {
  right: 4px;
  top: 100%; }

.up-road-4 {
  height: 8px;
  right: -4px;
  top: 150%; }

.up-line {
  animation: none 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background: var(--iconStroke);
  border-radius: 290486px;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform-origin: center center;
  width: 2px; }

.up-road {
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.up-road-2,
.up-road-3 {
  animation-delay: 100ms; }
  .up-road-2 .up-line,
  .up-road-3 .up-line {
    animation-delay: 100ms; }

.glyph .up-svg,
.nav-link:hover .up-svg {
  animation-name: goingUp; }

.glyph .up-container,
.nav-link:hover .up-container {
  animation-name: upBounce; }

.glyph .up-road,
.nav-link:hover .up-road {
  animation-name: upRideRoad; }

.glyph .up-line,
.nav-link:hover .up-line {
  animation-name: upLineRoad; }

.glyph .up,
html:not(.is-hovering) .nav-link.is-active .up {
  --iconStroke: #ff5724; }

@keyframes upRideRoad {
  0% {
    transform: translateY(-64px); }
  50% {
    transform: translateY(64px); } }

@keyframes upLineRoad {
  0% {
    opacity: 0;
    transform: scaleY(0); }
  25% {
    opacity: 1;
    transform: scaleY(1.5); }
  50% {
    opacity: 0;
    transform: scaleY(0); } }

@keyframes goingUp {
  0% {
    opacity: 0;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes upBounce {
  0% {
    transform: translateY(4px); }
  100% {
    transform: translateY(-4px); } }

.diamond {
  position: relative; }

.diamond-svg {
  animation: none 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation-timing-function: cubic-bezier(0, 1, 0, 1); }

.diamond-polygon {
  stroke: var(--iconStroke); }

.diamond-dust {
  animation: none 0.8s linear both;
  height: 48px;
  left: -8px;
  opacity: 0;
  position: absolute;
  top: -8px;
  transform: rotate(40deg);
  transform-origin: center center;
  width: 48px; }

.diamond-wheel {
  animation: none 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  height: 48px;
  position: absolute;
  left: 16px;
  top: 0;
  transform-origin: center center;
  width: 16px; }

.diamond-lines {
  animation: none 0.8s linear both;
  border-color: var(--iconStroke);
  border-style: solid;
  border-width: 2px 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: center center;
  width: 100%; }

.diamond-dust-2 {
  animation-delay: 50ms; }
  .diamond-dust-2 .diamond-wheel {
    animation-delay: 50ms;
    height: 56px;
    left: 20px;
    top: -4px;
    width: 8px; }
  .diamond-dust-2 .diamond-lines {
    animation-delay: 50ms; }

.glyph .diamond-svg,
.nav-link:hover .diamond-svg {
  animation-name: diamondEnter; }

.glyph .diamond-dust,
.nav-link:hover .diamond-dust {
  animation-name: diamondDust; }

.glyph .diamond-wheel,
.nav-link:hover .diamond-wheel {
  animation-name: diamondWheel; }

.glyph .diamond-lines,
.nav-link:hover .diamond-lines {
  animation-name: diamondLines; }

.glyph .diamond,
html:not(.is-hovering) .nav-link.is-active .diamond {
  --iconStroke: #24ffde; }

@keyframes diamondEnter {
  0% {
    transform: scale(0, 0) rotate(-90deg); }
  100% {
    transform: scale(1, 1) rotate(0deg); } }

@keyframes diamondDust {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes diamondWheel {
  0% {
    opacity: 0;
    transform: rotate(0deg); }
  40% {
    opacity: 1;
    transform: rotate(60deg); }
  80% {
    opacity: 0;
    transform: rotate(60deg); }
  100% {
    opacity: 0;
    transform: rotate(60deg); } }

@keyframes diamondLines {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1.5); } }

.right {
  position: relative; }

.right-polygon {
  stroke: var(--iconStroke); }

.right-svg {
  animation: none 1s cubic-bezier(1, -0.5, 0.5, 1.5) both; }

.right-mini {
  animation: none 0.8s cubic-bezier(1, -0.5, 1, 1) both;
  margin-top: -6px;
  position: absolute; }

.right-mini-1 {
  left: 48px;
  top: 50%;
  animation-delay: 0ms; }
  .right-mini-1 .right-triangle {
    animation-delay: 0ms; }

.right-mini-2 {
  left: 40px;
  top: 20%;
  animation-delay: 50ms; }
  .right-mini-2 .right-triangle {
    animation-delay: 50ms; }

.right-mini-3 {
  left: 44px;
  top: 70%;
  animation-delay: 100ms; }
  .right-mini-3 .right-triangle {
    animation-delay: 100ms; }

.right-triangle {
  animation: none 0.8s 200ms linear both;
  border: solid transparent;
  border-width: 6px 9px;
  border-left-color: var(--iconStroke);
  opacity: 0; }

.glyph .right-svg,
.nav-link:hover .right-svg {
  animation-name: rightGoing; }

.glyph .right-mini,
.nav-link:hover .right-mini {
  animation-name: rightMore; }

.glyph .right-triangle,
.nav-link:hover .right-triangle {
  animation-name: rightTriangle; }

.glyph .right,
html:not(.is-hovering) .nav-link.is-active .right {
  --iconStroke: #9524ff; }

@keyframes rightGoing {
  0% {
    opacity: 0;
    transform: scale(0.8) translateX(-100%); }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0); } }

@keyframes rightMore {
  0% {
    transform: scale(0.8) translateX(-300%); }
  100% {
    transform: scale(1) translateX(300%); } }

@keyframes rightTriangle {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.highlight {
  background-color: #1B2B34;
  color: #A7ADBA; }
  .highlight .hll {
    background-color: #CDD3DE; }
  .highlight .c {
    color: #A7ADBA; }
  .highlight .err {
    color: #EC5f67; }
  .highlight .k {
    color: #EC5f67; }
  .highlight .l {
    color: #F99157; }
  .highlight .n {
    color: #A7ADBA; }
  .highlight .o {
    color: #1B2B34; }
  .highlight .p {
    color: #4F5B66; }
  .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
    color: #A7ADBA; }
  .highlight .gd {
    color: #EC5f67; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gh {
    color: #1B2B34;
    font-weight: bold; }
  .highlight .gi {
    color: #99C794; }
  .highlight .gp {
    color: #99C794;
    font-weight: bold; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #5FB3B3;
    font-weight: bold; }
  .highlight .kc, .highlight .kd {
    color: #C594C5; }
  .highlight .kn {
    color: #5FB3B3; }
  .highlight .kp {
    color: #6699CC; }
  .highlight .kr, .highlight .kt {
    color: #C594C5; }
  .highlight .ld {
    color: #99C794; }
  .highlight .m {
    color: #F99157; }
  .highlight .s {
    color: #99C794; }
  .highlight .na {
    color: #6699CC; }
  .highlight .nb, .highlight .nc, .highlight .no {
    color: #C594C5; }
  .highlight .nd {
    color: #5FB3B3; }
  .highlight .ni {
    color: #1B2B34; }
  .highlight .ne {
    color: #EC5f67; }
  .highlight .nf, .highlight .nl {
    color: #6699CC; }
  .highlight .nn {
    color: #FAC863; }
  .highlight .nx {
    color: #6699CC; }
  .highlight .py {
    color: #1B2B34; }
  .highlight .nt {
    color: #5FB3B3; }
  .highlight .nv {
    color: #6699CC; }
  .highlight .ow {
    color: #5FB3B3; }
  .highlight .w {
    color: #1B2B34; }
  .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
    color: #F99157; }
  .highlight .sb {
    color: #99C794; }
  .highlight .sc {
    color: #1B2B34; }
  .highlight .sd {
    color: #A7ADBA; }
  .highlight .s2 {
    color: #99C794; }
  .highlight .se {
    color: #F99157; }
  .highlight .sh {
    color: #99C794; }
  .highlight .si {
    color: #F99157; }
  .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
    color: #99C794; }
  .highlight .bp {
    color: #1B2B34; }
  .highlight .vc, .highlight .vg, .highlight .vi {
    color: #EC5f67; }
  .highlight .il {
    color: #F99157; }

.content {
  position: relative; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding: 0 calc(2rem - 8px); }

.icon {
  height: 32px;
  position: relative;
  width: 32px; }

.glyph {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 20vh;
  margin-bottom: 10vh; }

.title {
  align-items: center;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  color: #000;
  font-size: 6rem;
  font-size: 10vmin;
  font-weight: 700;
  letter-spacing: 0.5em;
  opacity: 0.04;
  overflow: hidden;
  padding: 0 10vw;
  pointer-events: none;
  position: fixed;
  text-align: justify;
  text-transform: uppercase;
  word-break: break-all; }
  html.is-hovering .title {
    background: var(--colorLink);
    color: var(--colorLinkInvert);
    mix-blend-mode: multiply;
    opacity: 1;
    z-index: 86; }

.list {
  margin-left: auto;
  margin-right: auto;
  max-width: 30rem;
  padding: 0 calc(2rem - 8px);
  padding-bottom: 25vh; }

.item {
  margin-bottom: 4em;
  position: relative; }
  .item:last-child {
    margin-bottom: 0; }
  .item.is-recommended {
    background: #000;
    color: #fff;
    font-size: 1.6rem;
    margin-top: 4em;
    padding: 2em 0; }

.item-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 30rem;
  padding: 0 calc(2rem - 8px);
  position: relative; }

.item-info,
.item-rank {
  color: #7a7a7a;
  font-size: 0.8em;
  white-space: nowrap; }

.item-title {
  font-size: 1.4em;
  line-height: 1.2; }
  .item-title a {
    padding: 2px 0; }
    .item-title a:hover {
      background: var(--colorLink);
      color: var(--colorLinkInvert);
      text-decoration: none; }
    .item-title a:visited {
      color: var(--visited); }
      .item-title a:visited:hover {
        background: var(--visited);
        color: var(--visitedInvert); }

.item-link a {
  padding: 2px 0; }
  .item-link a:hover {
    background: var(--colorLink);
    color: var(--colorLinkInvert);
    text-decoration: none; }
  .item-link a:visited {
    color: var(--visited); }
    .item-link a:visited:hover {
      background: var(--visited);
      color: var(--visitedInvert); }

.item-icons {
  align-items: center;
  display: flex;
  margin-top: 1rem; }
  .item-icons li {
    margin-right: 0.5rem; }
  .item-icons svg {
    height: 1rem; }
    .item-icons svg path {
      fill: #dbdbdb; }

.item-stars {
  display: flex;
  height: 30px;
  margin-top: 0.5rem; }

.item-content p + p {
  margin-top: 1em; }

.item-content a:hover {
  background: var(--colorLink);
  color: var(--colorLinkInvert);
  text-decoration: none; }

.item-content a:visited {
  color: var(--visited); }
  .item-content a:visited:hover {
    background: var(--visited);
    color: var(--visitedInvert); }

.item-image img {
  max-height: 320px; }

@media screen and (min-width: 990px) {
  .item.is-recommended {
    padding: 4em; }
  .item-rank {
    color: #7a7a7a;
    margin-right: 2rem;
    position: absolute;
    right: 100%;
    text-align: right;
    top: 0.3rem; }
  .item-stars {
    left: 100%;
    margin-left: 1rem;
    margin-top: 0;
    position: absolute;
    top: 0; } }

.header {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40vh; }

html.is-index .header {
  height: 100vh;
  justify-content: space-between;
  padding-bottom: 3rem;
  padding-top: calc(20vh - 4rem); }

.hello {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding: 0 calc(2rem - 8px);
  font-size: 1.4rem; }
  .hello p {
    color: #7a7a7a;
    font-size: 0.75em;
    margin-top: 1rem; }
  .hello a {
    border-bottom: 1px solid #dbdbdb;
    color: inherit;
    padding-bottom: 2px; }
    .hello a.is-marksheet {
      color: #d16098; }
      .hello a.is-marksheet:hover {
        border-bottom-color: #d16098; }
    .hello a.is-bulma {
      color: #00d1b2; }
      .hello a.is-bulma:hover {
        border-bottom-color: #00d1b2; }
    .hello a.is-cssreference {
      color: #310736; }
      .hello a.is-cssreference:hover {
        border-bottom-color: #310736; }
    .hello a.is-improbable {
      color: #ff2e01; }
      .hello a.is-improbable:hover {
        border-bottom-color: #ff2e01; }

.jt {
  display: block;
  height: 2rem;
  margin: 1rem auto;
  width: 2rem; }
  .jt svg {
    display: block;
    height: 2rem;
    width: 2rem; }

.nav {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 104; }

.nav-link {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: center;
  position: relative;
  text-align: center;
  transition-duration: 294ms;
  transition-property: color;
  width: 4rem; }
  .nav-link .icon {
    display: block;
    opacity: 1;
    position: relative;
    transform: scale(0.5);
    transform-origin: center center;
    transition-duration: 100ms;
    transition-property: opacity, transform; }
  .nav-link.is-articles:hover, .nav-link.is-articles.is-active {
    color: #2478ff; }
  .nav-link.is-open-source:hover, .nav-link.is-open-source.is-active {
    color: #24ff70; }
  .nav-link.is-projects:hover, .nav-link.is-projects.is-active {
    color: #ff5724; }
  .nav-link.is-favourites:hover, .nav-link.is-favourites.is-active {
    color: #24ffde; }
  .nav-link.is-links:hover, .nav-link.is-links.is-active {
    color: #9524ff; }

.heading {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding: 0 calc(2rem - 8px);
  margin-top: 4rem; }

.heading-info {
  color: #7a7a7a;
  font-size: 0.8em; }

.heading-title {
  font-size: 1.8rem;
  line-height: 1.2; }

.heading-introduction {
  font-size: 1.2rem; }

.heading-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem; }
  .heading-nav a {
    position: relative;
    margin: 0 0.5rem; }
    .heading-nav a:after {
      background: rgba(0, 0, 0, 0.1);
      content: "";
      display: block;
      left: 0;
      height: 2px;
      opacity: 0;
      position: absolute;
      top: 100%;
      transform: scaleX(0) translateY(4px);
      transition: none 294ms ease-out;
      transition-property: opacity, transform;
      width: 100%; }
    .heading-nav a:hover, .heading-nav a.is-active {
      text-decoration: none; }
      .heading-nav a:hover:after, .heading-nav a.is-active:after {
        opacity: 1;
        transform: scaleX(1) translateY(4px); }
    .heading-nav a.is-active {
      color: #242424; }

.elsewhere {
  align-items: center;
  display: flex;
  justify-content: center; }

.elsewhere-link {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative; }
  .elsewhere-link svg {
    height: 2rem;
    position: relative;
    width: 2rem; }
  .elsewhere-link.is-twitter {
    position: relative; }
    .elsewhere-link.is-twitter:before {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      background: #55acee;
      border-radius: 290486px;
      content: " ";
      display: block;
      opacity: 0; }
    .elsewhere-link.is-twitter:hover:before {
      animation: jelly-pop 1000ms linear both; }
    .elsewhere-link.is-twitter:hover svg path {
      fill: #fff; }
    .elsewhere-link.is-twitter path {
      fill: #55acee; }
  .elsewhere-link.is-github {
    position: relative; }
    .elsewhere-link.is-github:before {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      background: #333333;
      border-radius: 290486px;
      content: " ";
      display: block;
      opacity: 0; }
    .elsewhere-link.is-github:hover:before {
      animation: jelly-pop 1000ms linear both; }
    .elsewhere-link.is-github:hover svg path {
      fill: #fff; }
    .elsewhere-link.is-github path {
      fill: #333333; }

@media screen and (max-width: 989px) {
  .elsewhere {
    height: 100vh; }
  .elsewhere-link {
    margin: 1rem; } }

@media screen and (min-width: 990px) {
  .elsewhere {
    flex-direction: column;
    position: fixed;
    right: 2rem;
    top: 50%; }
  .elsewhere-link {
    height: 2rem;
    width: 2rem; }
    .elsewhere-link svg {
      height: 1rem;
      width: 1rem; } }

.articles {
  padding-bottom: 25vh; }

.index-hello {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 50vh;
  padding: 4rem;
  text-align: left; }

.github-link {
  background: #24ff70;
  color: rgba(0, 0, 0, 0.71);
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 4rem;
  padding: 2rem;
  text-align: center; }
  .github-link span {
    opacity: 0.3; }
  .github-link strong {
    color: inherit;
    font-weight: 300; }
  .github-link:hover {
    background: #000;
    color: #fff; }

.post-heading {
  margin-left: auto;
  margin-right: auto;
  max-width: 30rem;
  padding: 0 calc(2rem - 8px); }

.post-content {
  margin-top: 4rem; }
  .post-content a:hover {
    background: var(--colorLink);
    color: var(--colorLinkInvert);
    text-decoration: none; }
  .post-content a:visited {
    color: var(--visited); }
    .post-content a:visited:hover {
      background: var(--visited);
      color: var(--visitedInvert); }
  .post-content h2,
  .post-content h3 {
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-top: 2em;
    position: relative; }
    .post-content h2 a,
    .post-content h3 a {
      border-bottom: none;
      font-weight: 400;
      margin-right: 10px; }
  .post-content aside {
    color: #7a7a7a;
    font-size: 0.75em;
    margin: 20px 0;
    padding: 10px;
    text-align: center; }
  .post-content p {
    margin: 1em 0; }
    .post-content p:first-child {
      margin-top: 0; }
    .post-content p:last-child {
      margin-bottom: 0; }
    .post-content p.note {
      background: rgba(0, 0, 0, 0.04);
      color: #242424;
      padding: 20px; }
      .post-content p.note code {
        background: white;
        padding-bottom: 2px; }
  .post-content ol {
    list-style: decimal outside;
    margin: 1em;
    margin-left: 2em; }
  .post-content ul {
    list-style: disc outside;
    margin: 1em;
    margin-left: 2em; }
  .post-content figure:not(.highlight) {
    margin: 2em 0;
    text-align: center; }
    .post-content figure:not(.highlight):first-child {
      margin-top: 0 !important; }
    .post-content figure:not(.highlight) img {
      display: inline-block;
      vertical-align: top; }
  .post-content figcaption {
    color: #7a7a7a;
    font-size: 0.75em;
    margin-top: 1em; }
  .post-content blockquote {
    font-size: 1.4em;
    font-style: normal;
    line-height: 1.4;
    margin: 2em;
    max-width: 36em;
    position: relative;
    text-align: left; }
    .post-content blockquote:before {
      background: #ff2450;
      content: "";
      display: block;
      height: 1.4em;
      margin-left: -0.7em;
      position: absolute;
      width: 1.4em; }
    .post-content blockquote p {
      margin: 0;
      position: relative; }
  .post-content table {
    font-size: 0.8em;
    margin: 2em 0;
    width: 100%; }
    .post-content table th,
    .post-content table td {
      border: 2px solid #dbdbdb;
      padding: 0.8em 1em;
      text-align: left; }
      .post-content table th.empty,
      .post-content table td.empty {
        background: none;
        border: none; }
      .post-content table th code,
      .post-content table td code {
        font-size: 1em;
        padding-bottom: 2px; }
  .post-content code,
  .post-content pre {
    background: white;
    color: #ff2450;
    font-size: 0.8em; }
  .post-content code {
    background: whitesmoke;
    padding: 2px 6px 4px;
    position: relative;
    top: -2px; }
  .post-content pre {
    padding: 1em; }
    .post-content pre code {
      font-size: 1em; }
  .post-content .highlight code,
  .post-content .highlight pre {
    background: transparent;
    color: inherit; }
  .post-content .highlight {
    overflow: auto; }
    .post-content .highlight pre {
      white-space: pre-wrap; }
  .post-content .top-highlight {
    background: #bdffd4;
    box-shadow: 0 0 0 5px #bdffd4;
    color: #310736;
    padding: 2px 0 3px;
    position: relative;
    transition: none 294ms ease-out;
    transition-property: background, box-shadow, color; }
    .post-content .top-highlight:hover {
      background: #24ff70;
      box-shadow: 0 0 0 5px #24ff70; }

.post-pagination {
  padding: 4rem 0 25vh; }

.post-pagination-button {
  padding: 0.75em 1em;
  align-items: center;
  display: flex;
  margin-right: 1rem; }
  .post-pagination-button:hover {
    background: #000; }
  .post-pagination-button svg {
    height: 1rem;
    margin-right: 0.5rem;
    width: 1rem; }
    .post-pagination-button svg path {
      fill: #fff; }
  .post-pagination-button strong {
    margin-left: 0.25rem; }
  .post-pagination-button.is-twitter {
    background: #55acee;
    color: #fff; }
    .post-pagination-button.is-twitter strong {
      color: #fff; }
  .post-pagination-button.is-facebook {
    background: #3b5998;
    color: #fff; }
    .post-pagination-button.is-facebook strong {
      color: #fff; }
  .post-pagination-button:hover {
    background: #000; }

.post-pagination-share {
  margin-bottom: 4rem; }

.post-pagination-link:hover {
  background: var(--colorLink);
  color: var(--colorLinkInvert); }
  .post-pagination-link:hover strong {
    color: var(--colorLinkInvert); }

.post-pagination-link.is-next {
  font-size: 1.4rem; }
  .post-pagination-link.is-next:hover {
    background: var(--colorLink);
    color: var(--colorLinkInvert); }
    .post-pagination-link.is-next:hover strong {
      color: var(--colorLinkInvert); }

.post-pagination-before {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; }

@media screen and (min-width: 600px) {
  .post-pagination-share {
    display: flex; } }

.project {
  background: var(--projectBackground);
  color: var(--projectColor);
  margin-bottom: 0;
  padding: 2rem; }
  .project .item-link a, .project .item-link a:visited {
    color: var(--projectLink); }
    .project .item-link a:hover, .project .item-link a:visited:hover {
      background: var(--projectColorStrong);
      color: var(--projectBackground); }
  .project .item-rank {
    color: var(--projectColorLight); }
  .project .item-title {
    color: var(--projectColorStrong); }
  .project .item-icons svg path {
    fill: var(--projectColorLight); }

.project--arnaudbenard {
  --projectBackground: #ff2b53;
  --projectColor: #ecffe9;
  --projectColorLight: rgba(0, 0, 0, 0.29);
  --projectColorStrong: #fff;
  --projectLink: #fff; }

.project--bulma {
  --projectBackground: #00d1b2;
  --projectColor: rgba(255, 255, 255, 0.71);
  --projectColorLight: rgba(255, 255, 255, 0.71);
  --projectColorStrong: #fff;
  --projectLink: #fff; }

.project--marksheet {
  --projectBackground: #d16098;
  --projectColor: #f4f1ce;
  --projectColorLight: rgba(0, 0, 0, 0.21);
  --projectColorStrong: #fff;
  --projectLink: #fff; }

.project--ivan-ballini {
  --projectBackground: #eae8e3;
  --projectColor: #4d4d4d;
  --projectColorLight: #4d4d4d;
  --projectColorStrong: #de7f2b;
  --projectLink: #de7f2b; }

.project--css-off-2013 {
  --projectBackground: #cdc9dd;
  --projectColor: #6e6c77;
  --projectColorLight: #6e6c77;
  --projectColorStrong: #000;
  --projectLink: #fff; }

.project--juketube {
  --projectBackground: #cdc9dd;
  --projectColor: #6e6c77;
  --projectColorLight: #6e6c77;
  --projectColorStrong: #000;
  --projectLink: #fff; }

.project--juketube {
  --projectBackground: #eee;
  --projectColor: #888;
  --projectColorLight: #22242a;
  --projectColorStrong: #df1f1f;
  --projectLink: #df1f1f; }

.project--bbxdesign {
  --projectBackground: #f5574c;
  --projectColor: rgba(255, 255, 255, 0.71);
  --projectColorLight: rgba(255, 255, 255, 0.71);
  --projectColorStrong: #fff;
  --projectLink: #fff; }

.project--cambodia-vietnam-2010 {
  --projectBackground: #dacfb1;
  --projectColor: #6b6450;
  --projectColorLight: #485c39;
  --projectColorStrong: #3b5757;
  --projectLink: #914839; }

.project--yeek {
  --projectBackground: #eeeff2;
  --projectColor: #4c566c;
  --projectColorLight: #040404;
  --projectColorStrong: #0589f5;
  --projectLink: #0589f5; }

.project--editions-magellan {
  --projectBackground: #332003;
  --projectColor: rgba(255, 255, 255, 0.29);
  --projectColorLight: #fff;
  --projectColorStrong: #c78312;
  --projectLink: #c78312; }

.project--golf-de-margaux {
  --projectBackground: #96c909;
  --projectColor: rgba(0, 0, 0, 0.48);
  --projectColorLight: #1a397f;
  --projectColorStrong: #fff;
  --projectLink: #fff; }

.project--bbxworld {
  --projectBackground: #362f2d;
  --projectColor: rgba(255, 255, 255, 0.48);
  --projectColorLight: #fff;
  --projectColorStrong: #8dc63f;
  --projectLink: #8dc63f; }

@media screen and (min-width: 990px) {
  .project {
    align-items: center;
    display: flex;
    min-height: 100vh;
    padding: 4rem; } }
