.heading
  +container(40rem)
  margin-top: 4rem
  text-align: center

.heading-info
  color: $text-light
  font-size: 0.8em

.heading-title
  color: var(--colorLink)
  font-size: 2.6rem
  line-height: 1.2

.heading-introduction
  font-size: 1.4rem

.heading-nav
  +center
  margin-bottom: 4rem
  a
    +underline
    margin: 0 0.5rem
    &.is-active
      color: $black
