---
layout: default
title: "Articles written by Jeremy Thomas"
route: articles
---

<div class="container">
  <hgroup class="heading">
    <h1>Articles</h1>
    <h2>Random thoughts about the Web</h2>
  </hgroup>

  {% for post in site.posts %}
    {% capture currentyear %}
      {{ post.date | date: "%Y" }}
    {% endcapture %}

    {% assign month = post.date | date: "%-m" %}

    {% capture currentseason %}{% case month %}{% when "1" %}win{% when "2" %}win{% when "3" %}win{% when "4" %}spr{% when "5" %}spr{% when "6" %}spr{% when "7" %}sum{% when "8" %}sum{% when "9" %}sum{% when "10" %}aut{% when "11" %}aut{% when "12" %}aut{% endcase %}{% endcapture %}

    {% if currentseason != season %}
      {% if currentyear != year %}
        <section class="period year">{{ currentyear }}</section>
        {% capture year %}{{ currentyear }}{% endcapture %}
      {% endif %}
      <section class="period season season-{{ currentseason }}">{{ currentseason }}</section>
      <hr>
      {% capture season %}{{ currentseason }}{% endcapture %}
    {% endif %}

    <article class="article {{ post.category | downcase }}{% if post.recommended == true %} recommended{% endif %}">
      {% if post.recommended == true %}
        <i class="fa fa-star"></i>
      {% endif %}
      <p class="info">
        <em class="date">{{ post.date | date_to_string }}</em>
        <strong class="category">{{ post.category }}</strong>
      </p>
      <h2 class="title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      {% if post.introduction %}
        <p class="introduction">{{ post.introduction }}</p>
      {% endif %}
    </article>
  {% endfor %}
</div>
