---
layout: default
title: J. Thomas (thoughts of a keen designer)
---


<div id="home">
  <h1 id="hello">
    <strong>
      Hi, my name is Jeremy Thomas.<br>
      I’m a Front-End Developer, Web Designer, and aspiring Music Producer living in Bordeaux, France.
    </strong>
  </h1>
</div>
<div id="articles" class="wrap">
  <h2 class="title">Random thoughts of a keen designer</h2>
  <div id="main">
    <article>
      {% for post in site.posts %}
        <section{% if post.recommended == true %} class="recommended"{% endif %}>
          <p class="post-format"></p>
          <time class="post-date">{{ post.date | date_to_string }}</time>
          <h3 class="post-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h3>
        </section>
      {% endfor %}
    </article>
    <aside>
      <p id="toggle">
        <a id="all" class="on">All</a>
        <a id="recommended">Recommended</a>
      </p>
    </aside>
    <div style="clear: both;"></div>
  </div>
</div>
