---
layout: default
title: "Jeremy Thomas – Frontend Designer"
route: index
---

<section id="improbable" class="index-section is-improbable">
  <div class="index-image is-improbable-icon">
    <div class="index-image-background is-transformed"></div>
  </div>

  <div class="index-image is-worlds-adrift">
    <div class="index-image-background is-transformed"></div>
  </div>

  <div class="index-image is-improbable">
    <div class="index-image-background is-transformed"></div>
  </div>

  <div class="container">
    <h1 class="index-content">
      <strong>Frontend Designer</strong> from Bordeaux, currently working for <a href="https://improbable.io">Improbable</a> in sunny London.
    </h1>

    <aside class="index-more">
      <p class="index-more-subtitle">Previously:</p>
      <ul class="index-more-content">
        <li>
          {% include svg/microsoft.html %}
        </li>
        <li>
          {% include svg/sony.html %}
        </li>
        <li>
          {% include svg/louis-vuitton.html %}
        </li>
        <li>
          {% include svg/universal-music-group.html %}
        </li>
      </ul>
    </aside>
  </div>
</section>

<section id="marksheet" class="index-section is-marksheet">
  <div class="index-image is-marksheet-m">
    <div class="index-image-background is-transformed"></div>
  </div>

  <div class="index-image is-marksheet-frame">
    <div class="index-image-background is-transformed"></div>
  </div>

  <div class="index-image is-marksheet">
    <div class="index-image-background is-zoomed"></div>
  </div>

  <div class="container">
    <h2 class="index-content">
      I wrote <a href="http://marksheet.io">MarkSheet</a>, a <strong>free</strong><br>
      HTML and CSS tutorial.
    </h2>

    <aside class="index-more">
      <p class="index-more-subtitle">Open source:</p>
      <ul class="index-more-content">
        <li>
          {% include svg/creative-commons.html %}
        </li>
        <li>
          {% include svg/github.html %}
        </li>
      </ul>
    </aside>
  </div>
</section>

<section id="bulma" class="index-section is-bulma">
  <div class="index-image is-bulma-type">
    <div class="index-image-background is-transformed"></div>
  </div>

  <div class="index-image is-bulma">
    <div class="index-image-background is-unzoomed"></div>
  </div>

  <div class="container">
    <h2 class="index-content">
      I created <a href="http://bulma.io">Bulma</a>, a CSS framework based on <strong>Flexbox</strong>.
    </h2>

    <aside class="index-more">
      <p class="index-more-subtitle">Open source:</p>
      <ul class="index-more-content">
        <li>
          {% include svg/creative-commons.html %}
        </li>
        <li>
          {% include svg/sass.html %}
        </li>
      </ul>
    </aside>
  </div>
</section>

<section id="ivanballini" class="index-section is-ivanballini">
  <div class="index-image is-ivanballini-logo">
    <div class="index-image-background is-transformed"></div>
  </div>

  <div class="index-image is-ivanballini-frame">
    <div class="index-image-background is-transformed"></div>
  </div>

  <div class="index-image is-ivanballini">
    <div class="index-image-background is-transformed"></div>
  </div>

  <div class="container">
    <h2 class="index-content">
      Latest freelance project:<br>
      <a href="http://ivanballiniestates.com">Ivan Ballini Estates</a>.
    </h2>

    <aside class="index-more">
      <p class="index-more-subtitle">Powered by:</p>
      <ul class="index-more-content">
        <li>
          {% include svg/wordpress.html %}
        </li>
      </ul>
    </aside>
  </div>
</section>

<section id="follow" class="index-section is-follow">
  <div class="index-follow">
    <p class="index-follow-title">
      @<strong>jgthms</strong>
    </p>
    <a class="index-follow-icon is-twitter" href="https://twitter.com/jgthms">
      {% include svg/twitter.html %}
    </a>
    <a class="index-follow-icon is-github" href="https://github.com/jgthms">
      {% include svg/github.html %}
    </a>
  </div>
</section>

<nav id="dots" class="index-dots">
  <ul>
    <li>
      <a>Improbable</a>
    </li>
    <li>
      <a>Marksheet</a>
    </li>
    <li>
      <a>Ivan Ballini</a>
    </li>
    <li>
      <a>Follow</a>
    </li>
  </ul>
</nav>
