---
layout: default
title: Projects by Jeremy Thomas
route: projects

projects:
- name: Bulma
  device: macbook-air
  url: http://bulma.io
  slug: bulma
  date: January 2016
  content: >
    <p>Creating a typeface from scratch is a designer's <em>rite of passage</em>. I was too lazy so I wrote a CSS framework instead.</p>
    <p>Inspired by Bootstrap, Bulma aims at offering everyone the joy of website design, through the simplicity of flebox, the elegance of Sass, and the experience of a CSS Guru.</p>
  icons: ['creative-commons-icon', 'github-alt', 'css3']

- name: MarkSheet v2
  device: ipad-v
  url: http://marksheet.io
  slug: marksheet
  date: November 2015
  content: >
    <p>Throughout a decade of frontend design, I have acquired both a reasonable set of CSS skills and an unwavering desire to share my knowledge.</p>
    <p>This free tutorial is my humble attempt to contribute to the community-driven information platform that the Web is and always will be.</p>
  icons: ['creative-commons-icon', 'github-alt', 'html5', 'css3']

- name: Ivan Ballini Estates
  device: imac
  url: http://ivanballiniestates.com
  slug: ivan-ballini
  date: March 2014
  content: >
    <p>When Ivan asked me to design and code his real estate website, his sole and primary focus was to emphasize the main asset that drives users: pictures.</p>
    <p>Rarely have I had the privilege to work with such high quality content, which ultimately what design is all about.</p>
  icons: ['wordpress-icon']

- name: CSS Off 2013
  device: ipad-h
  url: http://jgthms.com/css-off-2013
  domain: jgthms.com/css-off-2013
  slug: css-off-2013
  date: November 2013
  content: >
    <p>I've always wanted to evaluate my CSS skills against fellow designers.</p>
    <p>I came across this single page coding test, which unfortunately was never reviewed by anyone.</p>
  icons: ['github-alt', 'css3']

- name: JukeTube
  device: macbook-air
  url: http://jgthms.com/juketube
  domain: jgthms.com/juketube
  slug: juketube
  date: October 2013
  content: >
    <p>Jumping on the Angular JS hype train, I came up with a simple project to test out a new technology while providing something relatively useful and fun.</p>
    <p>Using the YouTube API, JukeTube allows to easily queue and play videos, like an amateur and poor DJ.</p>
  icons: ['github-alt', 'css3']

- name: bbxdesign
  device: imac
  url: http://bbxdesign.com
  slug: bbxdesign
  date: September 2013
  content: >
    <p>My oldest and still (relatively) active website.</p>
    <p>What started off as a simple WordPress blog has throughout the years <del>suffered from</del> enjoyed cyclical changes and drastic code rewrites, until I switched to writing in English and publishing with GitHub.</p>
  icons: ['wordpress-icon']

- name: Cambodia Vietnam 2010
  device: macbook-air
  url: http://cambodiavietnam2010.com
  slug: cambodia-vietnam-2010
  date: April 2012
  content: >
    <p>Even before going on this trip in South East Asia, I had in mind a single page website where each city would be granted its own unique design.</p>
    <p>After a lot of delays, the website was finalised almost 2 years after its inception and embodies my first decently sized jQuery project.</p>
  icons: ['html5', 'css3']

- name: Yeek
  device: imac
  url: http://yeek.fr
  slug: yeek
  date: October 2011
  content: >
    <p>My first attempt at a passive income website: a simple collection of affiliated links.</p>
    <p>This project has shown that in e-commerce especially, marketing sometimes overshadows content.</p>
  icons: ['wordpress-icon', 'amazon']

- name: Editions Magellan
  device: ipad-v
  url: http://www.editions-magellan.com
  slug: editions-magellan
  date: September 2009
  content: >
    <p>My first freelance project: a travel book publisher based in Paris.</p>
    <p>A complete solution with both front and backend, and up this day, one of my favourite graphical design.</p>
  icons: ['book']

- name: Golf de Margaux
  device: macbook-air
  url: http://jgthms.com/golf-de-margaux
  domain: jgthms.com/golf-de-margaux
  slug: golf-de-margaux
  date: July 2007
  content: >
    <p>My end of year project, and the first website built as a team.</p>
    <p>I was in charge of the design, the CSS, and even the Flash widget.</p>
  icons: ['bolt']

- name: bbxworld
  device: macbook-air
  url: http://jgthms.com/bbxworld
  domain: jgthms.com/bbxworld
  slug: bbxworld
  date: June 2007
  content: >
    <p>My first CSS website but already dealing with floating columns, background sprites, and IE hacks.</p>
    <p>Although a lot has changed in a decade, I was already attracted by the idea of CSS being <em>simple</em> but not <em>easy</em>.</p>
  icons: ['internet-explorer']
---

{% for project in page.projects %}
  <article class="projects-item is-{{project.slug}}">
    <a class="projects-device is-{{project.device}}" href="{{project.url}}">
      <img class="lazy" data-src="/images/screenshots/{{project.slug}}.jpg" src="/images/projects/empty.png">
      <noscript>
        <img src="/images/screenshots/{{project.slug}}.jpg">
      </noscript>
    </a>

    <div class="container">
      <div class="projects-body">
        <p class="projects-date">{{project.date}}</p>

        <a class="projects-logo" href="{{project.url}}">
          <img class="lazy" data-src="/images/projects/{{project.slug}}.png" src="/images/projects/empty.png">
          <noscript>
            <img src="/images/projects/{{project.slug}}.png">
          </noscript>
        </a>

        <h2 class="projects-title">
          {{project.name}}
        </h2>

        <p class="projects-url">
          <a href="{{project.url}}">
            {% if project.domain == nil or project.domain == "" %}
              {{project.url | remove:'http://' | remove:'https://' | remove:'www.' | split:'/' | first}}
            {% else %}
              {{project.domain}}
            {% endif %}
          </a>
        </p>

        <div class="projects-content">
          {{project.content}}
        </div>

        <ul class="projects-icons">
          {% for icon in project.icons %}
            {% assign svgpath = icon | prepend: "svg/" | append: ".html" %}
            <li>{% include {{svgpath}} %}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
{% endfor %}
