body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,var{ font-style:normal; font-weight:normal;}
ol,ul{ list-style:none;}
caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
q:before,q:after{ content:'';}
abbr,acronym{ border:0;}

html{ overflow-y:scroll;}
body{ background:white; color:#586e75; font-family:'Courier New',monospace; font-size:12px; line-height:2; margin:40px auto 0; width:460px;}
a{ background:#fdf6e3; border-bottom:1px solid #eee8d5; color:#3389c5; cursor:pointer; padding:2px 4px 3px; text-decoration:none;}
a:hover{ background:#3389c5; border-bottom-color:#065383; color:#fff;}

header{ border-bottom:1px solid #e9e9e9; height:60px; margin-bottom:40px; padding-bottom:40px; position:relative; text-align:center;}
#logo{ background:none; border:none; position:absolute; top:0; left:-80px; padding:0;}
#logo:hover{ background:none;}
nav{ background:#fff; border-radius:6px; display:inline-block; height:26px; margin-top:14px; padding:2px;}
nav a{ border:1px solid #e9e9e9; color:#d33682; float:left; height:24px; line-height:22px; margin-right:-1px; padding:0 12px 0 10px; position:relative;}
nav a:first-child{ border-radius:4px 0 0 4px; color:#3389c5;}
nav a:last-child{ border-radius:0 4px 4px 0; color:#859900;}
nav a:hover, nav .c{ background:#d33682; border-color:#821248; box-shadow:0 0 0 1px #db5c99 inset; color:#fff !important; z-index:2000;}
nav .c{ box-shadow:0 0 0 1px #db5c99 inset, 0 2px 2px rgba(0,0,0,.25) inset;}
nav a:first-child:hover, nav a:first-child.c{ background:#3389c5; border-color:#065383; box-shadow:0 0 0 1px #5ba4d5 inset;}
nav a:first-child.c{ box-shadow:0 0 0 1px #5ba4d5 inset, 0 2px 2px rgba(0,0,0,.25) inset;}
nav a:last-child:hover, nav a:last-child.c{ background:#859900; border-color:#738212; box-shadow:0 0 0 1px #adbe40 inset;}
nav a:last-child.c{ box-shadow:0 0 0 1px #adbe40 inset, 0 2px 2px rgba(0,0,0,.25) inset;}
time{ background:#f5f5f5; border:1px solid #e9e9e9; border-radius:2px; color:#93a1a1; font-size:11px; height:14px; line-height:14px; padding:0 4px 1px; white-space:nowrap;}
h1{ color:#93a1a1; position:relative; text-align:center; top:-3px;}
h1:before{ content:"# ";}
h1:after{ content:" #";}
footer{ background:url(water.png) no-repeat center bottom; border-top:1px solid #e9e9e9; color:#93a1a1; font-size:11px; margin:40px auto 0; padding:20px 20px 160px; text-align:center;}
footer:hover{ color:#000;}
footer a{ color:#586e75; padding:1px 4px 2px;}
footer p:first-child{ margin-bottom:1em;}

.a{ margin-top:32px;}
.a li{ margin-bottom:8px; position:relative;}
.a a{ font-size:13px; margin-left:4px; padding:3px 6px 4px; position:relative; right:6px; top:-1px;}

article{ position:relative; text-align:center;}
article h1{ color:#000;}
article time{ display:inline-block; margin-bottom:40px; position:static;}
article h2,
article li,
article p{ margin:1em 0;}
article ul,
article p{ text-align:left;}
article p:first-of-type{ margin-top:0;}
article p:last-child{ margin-bottom:0;}
article h2{ color:#859900; margin:32px 0; position:relative;}
article h2:before{ content:"## ";}
article h2:after{ content:" ##";}
article ul li{ position:relative;}
article ul li:before{ content:"*"; position:absolute; right:480px;}
article blockquote{ color:#93a1a1; font-style:italic; position:relative;}
article blockquote:before{ content:">"; position:absolute; right:480px;}
article img{ max-width:100%;}
article figure{ margin:0 0 1em -80px; width:620px;}

section{ border-bottom:1px solid #e9e9e9; font-size:11px; margin-bottom:20px; padding-bottom:20px;}
section:first-of-type{ margin-top:32px;}
section:last-of-type{ border-bottom:none; margin-bottom:0; padding-bottom:0;}
section img{ float:left; margin-right:20px; width:220px;}
section h2{ position:relative; top:-2px;}
section h2 a{ padding-right:6px;}
section p{ color:#93a1a1; float:right; line-height:1.5; width:220px;}

/* CSS 3 nonsense */

nav a{ background:#fff;
background:-moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
background:-webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%);
background:linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%);}

a, footer{ -webkit-transition:all 500ms ease-out;
-moz-transition:all 500ms ease-out;
-ms-transition:all 500ms ease-out;
-o-transition:all 500ms ease-out;
transition:all 500ms ease-out;}