body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{ margin: 0; padding: 0;}
table{ border-collapse: collapse; border-spacing: 0;}
fieldset, img{ border: 0;}
address, caption, cite, code, dfn, var{ font-style: normal; font-weight: normal;}
ol, ul{ list-style: none;}
caption, th{ text-align: left;}
h1, h2, h3, h4, h5, h6{ font-size: 100%; font-weight: normal;}
q: before, q: after{ content: '';}
abbr, acronym{ border: 0;}

html{ 
  background: #0d111e url(luxembourg.jpg) no-repeat center center fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
html{ overflow-y: scroll;}
body{ color: #5b818e; font: 16px/1.5 'Open Sans',Arial,sans-serif; width: 100%;}
a{ color: #3d9cbc; cursor: pointer; text-decoration: none;}
a:hover{ color: #0d111e; text-decoration: underline;}

.wrap{ margin: 0 auto; width: 1020px;}
nav, #hello, .title, .post-title{ font-family: Bitter, Georgia, serif;}
.title{ color: white; font-size: 20px; height: 80px; font-style: italic; margin-bottom: 20px; text-align: center;}

header{ height: 100px; padding: 80px 0 40px; position: relative; text-align: center;}
#logo{ background: #db7272 url(jt.png) no-repeat center center; border-radius: 50px; display: block; height: 100px; left: 0; overflow: hidden; position: absolute; text-indent: -290486px; top: 80px; width: 100px;}
nav{ font-size: 16px; font-style: italic; padding-top: 38px;}
nav li{ display: inline; margin: 0 40px;}
nav a{ color: white; display: inline-block;}
nav a:hover{ text-decoration: none;}

#home{ display: none;}
#hello{ color: white; font-size: 32px; height: 144px; left: 0; margin-top: -72px; position: absolute; top: 50%; text-align: center; width: 100%;}
#hello strong{ display: block; font-weight: normal; margin: 0 auto; width: 1020px;}

#main{ background: white; border-radius: 4px; margin-bottom: 40px; position: relative;}
#main article{ float: left; width: 820px;}
#main aside{ background: #f5f5f5; border-radius: 0 4px 4px 0; float: right; height: 100%; padding: 0 20px; position: absolute; right: 0; top: 0; width: 160px;}
#main article section{ border-bottom: 2px solid #f5f5f5; min-height: 40px; padding: 20px 40px 20px 120px; position: relative;}
#main article section:last-child{ border-bottom: none;}
#main article .post-title{ padding-top: 8px;}
#main article .recommended .post-title{ padding-top: 5px;}
#main article .post-format{ left: 40px; position: absolute; top: 20px;}

.post-format{ background: #d5d5d5; border-radius: 20px; height: 40px; width: 40px;}
.post-date{ display: none;}
.post-title{ font-size: 20px; line-height: 1.25;}
.recommended .post-title{ font-size: 24px; font-weight: bold;}