<header class="header">
  <div class="container">
    <a class="jt{% if page.route == 'index' %} is-active{% endif %}" href="/">
      {% include svg/jt.html %}
    </a>

    <a id="toggle-menu" class="toggle is-menu" data-target="menu">
      Menu
    </a>

    <a id="toggle-elsewhere" class="toggle is-elsewhere" data-target="elsewhere">
      Elsewhere
    </a>
  </div>
</header>

<nav id="menu" class="nav is-menu">
  <ul>
    <li>
      <a class="nav-link{% if page.route == 'articles' or page.layout == 'post' %} is-active{% endif %}" href="/articles.html">
        Articles
      </a>
    </li>
    <li>
      <a class="nav-link{% if page.route == 'favourites' %} is-active{% endif %}" href="/favourite-websites.html">
        Favourites
      </a>
    </li>
    <li>
      <a class="nav-link{% if page.route == 'projects' %} is-active{% endif %}" href="/projects.html">
        Projects
      </a>
    </li>
    <li>
      <a class="nav-link{% if page.route == 'links' %} is-active{% endif %}" href="/links.html">
        Links
      </a>
    </li>
    <li>
      <a class="nav-link{% if page.route == 'about' %} is-active{% endif %}" href="/about.html">
        About
      </a>
    </li>
  </ul>
</nav>

<nav id="elsewhere" class="nav is-elsewhere">
  <ul>
    <li>
      <a class="nav-link is-twitter" href="https://twitter.com/jgthms">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a class="nav-link is-github" href="https://github.com/jgthms">
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li>
      <a class="nav-link is-instagram" href="https://instagram.com/jgthms">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    <li>
      <a class="nav-link is-hacker-news" href="https://news.ycombinator.com/user?id=bbx">
        <i class="fa fa-hacker-news"></i>
      </a>
    </li>
    <li>
      <a class="nav-link is-soundcloud" href="https://soundcloud.com/jgthms">
        <i class="fa fa-soundcloud"></i>
      </a>
    </li>
    <li>
      <a class="nav-link is-rss" href="/atom.xml">
        <i class="fa fa-rss"></i>
      </a>
    </li>
    <li id="contact">
      <a class="nav-link is-email">
        <i class="fa fa-envelope"></i>
      </a>
    </li>
  </ul>
</nav>
