<header class="header">
  <div class="container">
    <a class="jt" href="/">
      JT
    </a>
    <a id="toggle-menu" class="toggle toggle-menu" href="#" data-target="menu">
      <span>Menu</span>
      <i class="fa fa-bars"></i>
    </a>
    <a id="toggle-elsewhere" class="toggle toggle-elsewhere" href="#" data-target="elsewhere">
      <span>Elsewhere</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <div id="overlay" class="overlay"></div>
    <ul id="menu" class="dropdown dropdown-menu">
      <li><a href="/">J. Thomas</a></li>
      <li><a href="/articles.html">Articles</a></li>
      <li><a href="/projects.html">Projects</a></li>
      <li><a href="/favourites.html">Favourites</a></li>
    </ul>
    <ul id="elsewhere" class="dropdown dropdown-elsewhere">
      <li><a class="twitter" href="https://twitter.com/jgthms"><i class="fa fa-twitter"></i></a></li>
      <li><a class="github" href="https://github.com/jgthms"><i class="fa fa-github"></i></a></li>
      <li><a class="instagram" href="https://instagram.com/jgthms"><i class="fa fa-instagram"></i></a></li>
      <li><a class="hacker-news" href="https://news.ycombinator.com/user?id=bbx"><i class="fa fa-hacker-news"></i></a></li>
      <li><a class="soundcloud" href="https://soundcloud.com/jgthms"><i class="fa fa-soundcloud"></i></a></li>
      <li><a class="rss" href="/atom.xml"><i class="fa fa-rss"></i></a></li>
    </ul>
  </div>
</header>
