<nav id="menu" class="menu">
  <ul class="menu-list">
    <li class="menu-item">
      <a class="menu-link is-articles {% if page.route == 'articles' or page.layout == 'post' %} is-active{% endif %}" href="/articles.html">
        {% include icons/square.html %}
        Articles
        <span class="menu-underline"></span>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-link is-open-source {% if page.route == 'open-source' %} is-active{% endif %}" href="/open-source.html">
        {% include icons/circle.html %}
        Open source
        <span class="menu-underline"></span>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-link is-projects {% if page.route == 'projects' %} is-active{% endif %}" href="/projects.html">
        {% include icons/up.html %}
        Projects
        <span class="menu-underline"></span>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-link is-favourites {% if page.route == 'favourites' %} is-active{% endif %}" href="/favourite-websites.html">
        {% include icons/diamond.html %}
        Favourites
        <span class="menu-underline"></span>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-link is-links {% if page.route == 'links' %} is-active{% endif %}" href="/links.html">
        {% include icons/right.html %}
        Links
        <span class="menu-underline"></span>
      </a>
    </li>
  </ul>
</nav>
