{% for post in site.posts %}
  {% capture currentyear %}
    {{post.date | date: "%Y"}}
  {% endcapture %}

  {% assign month = post.date | date: "%-m" %}

  {% capture currentseason %}{% case month %}{% when "1" %}win{% when "2" %}win{% when "3" %}win{% when "4" %}spr{% when "5" %}spr{% when "6" %}spr{% when "7" %}sum{% when "8" %}sum{% when "9" %}sum{% when "10" %}aut{% when "11" %}aut{% when "12" %}aut{% endcase %}{% endcapture %}

  {% if false && currentseason != season %}
    {% if currentyear != year %}
      <section class="articles-year">{{currentyear}}</section>
      {% capture year %}{{currentyear}}{% endcapture %}
    {% endif %}
    <section class="articles-season is-{{currentseason}}">{{currentseason}}</section>
    <hr class="articles-border">
    {% capture season %}{{currentseason}}{% endcapture %}
  {% endif %}

  <article class="item articles-article is-{{post.category | downcase}}{% if post.recommended == true %} is-recommended{% endif %}">
    <p class="item-info">
      {{post.date | date_to_string}} in {{post.category}}
    </p>
    <h2 class="item-title">
      <a href="{{post.url}}">{{post.title}}</a>
    </h2>
    {% if post.introduction %}
      <p class="item-introduction">{{post.introduction}}</p>
    {% endif %}
  </article>
{% endfor %}
