<script type="text/javascript" src="/javascript/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/javascript/jquery.easing.min.js"></script>
<script type="text/javascript" src="/javascript/jquery.lazy.min.js"></script>
<script type="text/javascript" src="/javascript/affix.js"></script>
<script type="text/javascript" src="/javascript/jgthms.js"></script>

{% if page.route == 'index' %}
  <script type="text/javascript" src="/javascript/index.js"></script>
{% endif %}

{% if page.route == 'post' %}
  <script type="text/javascript" src="/javascript/post.js"></script>
{% endif %}
