html{
  background: white; font-size: 16px; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;
}

body{
  color: $text; font-family: $font-family-primary; font-size: 1rem; letter-spacing: -0.05em; line-height: 1.25;
}

a{
  color: $link; text-decoration: none; @include transition(all $speed $easing);
}

img{
  max-height: 100%; max-width: 100%;
}

strong{
  color: $title;
}

.container{
  margin: 0 auto; max-width: 980px; position: relative;
}

@include selection{
  background: $link; color: white;
}

@include on($landscape) {
  // html{ font-size: 18px;}
}

@include on($laptop) {
  // html{ font-size: 20px;}
}
