html
  background: #fff
  font-size: 16px
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  min-width: 300px
  text-rendering: optimizeLegibility

code,
pre
  font-family: $family-monospace

body
  color: $text
  font-family: $family-primary
  font-size: 1rem
  letter-spacing: 0.04em
  line-height: 1.6

a
  color: $link
  cursor: pointer
  text-decoration: none

img
  max-height: 100%
  max-width: 100%

strong
  color: $text-strong

svg
  height: auto
  max-height: 100px
  max-width: 200px
  width: auto
  path
    transition: fill $speed $easing

pre
  white-space: pre
  word-wrap: normal

+selection
  background: $link
  color: white
