html
  background-attachment: fixed
  background-color: $black
  background-image: linear-gradient($black, $black-light)
  background-repeat: no-repeat
  font-size: $size-normal
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  min-width: 300px
  text-rendering: optimizeLegibility

body
  color: $text
  font-family: $family-primary
  font-size: 1rem
  font-weight: $weight-normal
  letter-spacing: -0.04em
  line-height: 1.25

a
  color: $link
  cursor: pointer
  text-decoration: none
  transition: none $speed $easing
  transition-property: background color

img
  max-height: 100%
  max-width: 100%

strong
  color: $text-strong
  font-weight: $weight-bold

pre
  white-space: pre
  word-wrap: normal

.container
  margin: 0 auto
  position: relative
  width: 940px

+selection
  background: $link
  color: white
