.post{
  padding: 100px 0; position: relative;
  .info{ margin-bottom: 20px;}
  .title{ color: $title; font-size: 2rem; font-weight: bold; line-height: 1.125;}
  .introduction{ color: $title; font-size: 1.5rem;}

  @include on($laptop) {
    padding: 140px 0;
  }
}

.heading{
  padding: 0 20px;
}

.content{
  color: #4a4a4a; font-size: 1.25rem; padding: 0 20px;
  p{ margin: 20px 0;}
}

.pagination{
  padding: 0 20px;
  a{
    border: 1px solid $link; border-radius: 3px; display: block; padding: 20px;
    em{ display: block; font-style: normal;}
  }
}

.articles{
  padding: 100px 0; position: relative;
  hr{ border-top: 1px solid $border; display: none; margin: 0 0 0 160px;}
  .article{
    padding: 20px; padding-left: 40px; position: relative;
    .fa-star{ color: $yellow; font-size: 21px; left: 12px; position: absolute; top: 22px;}
    .info{
      float: right; padding-top: 4px; text-align: right;
      .category{ display: block;}
    }
    .title{
      line-height: 1.125;
      a{
        color: $title;
        &:hover{ background: $title; color: white; padding: 2px 5px;}
        &:visited{ color: $border;}
      }
    }
    .introduction{ margin-top: 10px;}
    &.recommended{
      .title{ font-weight: bold;}
    }
    & + .article{ border-top: 1px solid $border;}
  }

  @include on($laptop) {
    padding: 140px 0;
    hr{ display: block;}
    .article{
      padding-left: 200px;
      .fa-star{ left: 172px;}
      & + .article{ border-top: none;}
    }
  }
}

.hello{
  height: 100vh; overflow: hidden; position: relative; width: 100%;
  .hello-background,
  .hello-screenshot{ @include overlay(); bottom: auto; display: none; height: 600px; left: auto; margin-top: -300px; position: absolute; right: -25%; top: 50%; width: 100%;}
    // background: url(http://i.imgur.com/q5RN3qb.gif) repeat;
    // background-image: url(http://i.imgur.com/X8ieYCn.gif);
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: fixed;
    // width: 100%;
    // @include radial-gradient(ellipse farthest-side at 48% 48%, saturate($red, 100%), saturate($orange, 100%));
    // mix-blend-mode: overlay;
  // .hello-content{
    // @include radial-gradient(ellipse farthest-side at 0 0, $black, $dark);
    // mix-blend-mode: lighten;
    // @include radial-gradient(ellipse farthest-corner at 40px 40px, white, $white);
    // background: white;
    // background: white;
  // }
  // .hello-screenshot{ transform: perspective(500px) rotateZ(35deg) skew(-24deg,-1deg) rotate3d(1,0,0,8deg) scale(1,0.86);}
  .hello-content{ display: table; height: 100vh; position: relative; vertical-align: middle; width: 100%; z-index: 1;}
  .hello-screenshot{
    img{ left: 50%; opacity: 0; position: absolute; top: 50%;}
    &.animate img{ @include animation(jelly 1000ms 1000ms linear both);}
  }
  .hello-text{
    display: table-cell; padding: 0 40px; position: relative; vertical-align: middle;
    .title{
      margin-bottom: 2rem;
      a{
        background: $link; color: white; padding: 0 0.25em 0.125em;
        &:hover{ background: $black !important;}
      }

      @media screen and (min-height: 400px) and (min-width: 600px) {
        font-size: 2rem;
      }

      @media screen and (min-height: 600px) and (min-width: 800px) {
        font-size: 2.5rem;
      }

      @media screen and (min-height: 800px) and (min-width: 1000px) {
        font-size: 3rem;
      }
    }
    .subtitle{ margin-top: 1rem;}
    .clients,
    .topics,
    .tools{
      li{
        display: inline-block; height: 40px; margin: 7px 10px 0 0; vertical-align: top;
        &.microsoft{ padding: 10px 0;}
        &.sony{ padding: 12px 0;}
        &.wordpress{ padding: 2px 0;}
        &.jquery{ padding: 10px 0 6px;}
        &.bootstrap{ padding: 4px;}
        img{ vertical-align: top;}
      }
    }
  }
  &:first-child{
    .hello-text{ padding-top: 60px;}
  }
  &.hello-streethub{
    .hello-background{ @include radial-gradient(ellipse farthest-side at 29% 29%, saturate($red, 100%), saturate($orange, 100%));}
    .hello-screenshot img{ height: 275px; margin: -153px 0 0 -219px;}
    .title a{ background: $red;}
  }
  &.hello-marksheet{
    .hello-background{ @include radial-gradient(ellipse farthest-side at 29% 29%, saturate($web, 100%), saturate($css3, 100%));}
    .hello-screenshot img{ height: 322px; margin: -172px 0 0 -334px;}
    .title a{ background: $css3;}
  }
  &.hello-ivan-ballini{
    .hello-background{ @include radial-gradient(ellipse farthest-side at 29% 29%, saturate($brique, 100%), saturate($beige, 100%));}
    .hello-screenshot img{ height: 408px; margin: -261px 0 0 -270px;}
    .title a{ background: $brique;}
  }

  @include on($laptop) {
    .hello-background,
    .hello-screenshot{ display: block;}
    .hello-text{
      .title{ padding-right: 50%;}
      .follow{
        .title{ padding-right: 0;}
      }
    }
  }
}

.follow{
  text-align: center;
  a{
    border-radius: 290486px; color: $border; display: inline-block; height: 80px; margin-top: 1rem; vertical-align: top; width: 80px;
    .fa{ font-size: 42px; line-height: 80px;}
    &.twitter{
      color: $twitter;
      &:hover{ background: $twitter; color: white;}
    }
    &.github{
      color: $github;
      &:hover{ background: $github; color: white;}
    }
  }
}

.line-drawing{
  display: none; @include transition(opacity 0.5s);

  @include on($laptop) {
    background: white; display: block; margin-top: -300px; mix-blend-mode: screen; position: absolute; right: -25%; top: 50%;
  }
}

.line-drawing path{
  fill: none; stroke: $black; stroke-width: 1;
  &.line-round {
    stroke-linecap: round;
  }
}

.period{
  background: $link; color: white; display: block; letter-spacing: 0.1em; padding: 10px; right: 0; text-transform: uppercase; @include transition(all $speed $easing);
  &.year{ padding-top: 20px;}
  &.season-win{ background: #a9caf1;}
  &.season-spr{ background: #c1ea95;}
  &.season-sum{ background: #fbd596;}
  &.season-aut{ background: #c8af99;}

  @include on($laptop) {
    background: none; border-top: 1px solid $link; color: $link; left: 80px; position: absolute; width: 80px;
    &.year{ left: 0; padding-top: 10px; z-index: 1;}
    &.season-win{ background: none; border-top-color: #a9caf1; color: #a9caf1;}
    &.season-spr{ background: none; border-top-color: #c1ea95; color: #c1ea95;}
    &.season-sum{ background: none; border-top-color: #fbd596; color: #fbd596;}
    &.season-aut{ background: none; border-top-color: #c8af99; color: #c8af99;}
    &.affix{
      left: 50%; margin-left: -24rem; position: fixed; top: -1rem;
      &.year{ margin-left: -29rem;}
    }
  }
}

.previous,
.next{
  display: none; height: 60px; left: 0; line-height: 60px; position: absolute; text-align: center; width: 100%;
  a{ display: block;}
}

.previous{ top: 0;}
.next{ bottom: 0;}

.subtitle{
  color: $subtitle;
  a{ color: $subtitle;}
}

.title{
  font-size: 1.5rem; @include transition(font-size $speed $easing);
  strong{ color: $title;}
}
