.the
  animation: winterSpring 294ms ease-out
  bottom: 10px
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 4px 100%, 4px 4px, calc(100% - 4px) 4px, calc(100% - 4px) calc(100% - 4px), 4px calc(100% - 4px), 4px 100%, 100% 100%, 100% 0%)
  clip-path: polygon(0% 0%, 0% 100%, 4px 100%, 4px 4px, calc(100% - 4px) 4px, calc(100% - 4px) calc(100% - 4px), 4px calc(100% - 4px), 4px 100%, 100% 100%, 100% 0%)
  left: 10px
  position: fixed
  right: 10px
  top: 10px

.monolith
  background: linear-gradient(-217deg, $turquoise, $purple, $red)
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0

@keyframes winterSpring
  from
    transform: scale(1.04)
  to
    transform: scale(1)

.header
  font-size: 12px
  letter-spacing: 0.4em
  text-transform: uppercase
  a
    color: $text-light
    font-weight: $weight-bold

.jt
  display: none

.toggle
  display: none

+desktop
  .header
    left: 0
    position: absolute
    right: 0
    top: 100px
  .dropdown
    display: flex
    li
      width: 200px
