@mixin arrow() {
  &{
    @include replace(none, 32px, 32px);
    &:before,
    &:after{
      background: $light;
      content: " ";
      display: block;
      height: 2px;
      left: 8px;
      position: absolute;
      top: 16px;
      @include transform(rotate(45deg));
      width: 10px;}
    &:after{
      left: auto;
      right: 8px;
      @include transform(rotate(-45deg));
    }
    &:hover{
      background: $blue;
      &:before,
      &:after{
        background: $blue !important;
      }
    }
  }
}

@mixin border($p: 100%) {
  position: relative;
  &:before{ @include animation(expand 500ms both); background: $link; bottom: 0; content: " "; display: block; height: 1px; left: 0; position: absolute; width: 100%;}
}

@mixin button() {
  border: 1px solid $link;
  border-radius: 3px;
  display: block;
  padding: 20px;
  strong{ display: block;}
  &:hover{
    background: $link; color: rgba(white, 0.48);
    strong{ color: white;}
  }
}

@mixin clear() {
  &:after{ clear: both; content: " "; display: table;}
}

@mixin center($size) {
  left: 50%;
  margin-left: -($size / 2);
  margin-top: -($size / 2);
  position: absolute;
  top: 50%;
}

@mixin fa($size) {
  font-size: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  width: $size;
}

@mixin pop($color) {
  position: relative;
  &:before{ @include overlay(); background: $color; border-radius: 290486px; content: " "; display: block; opacity: 0;}
  &:hover{
    &:before{ @include animation(jelly 1000ms linear both);}
  }
}

@mixin replace($bg: transparent, $w: 0, $h: 0) {
  background: $bg center center no-repeat;
  background-size: $w $h; 
  display: block;
  height: $h;
  outline: none;
  overflow: hidden;
  text-indent: -290486px;
  width: $w;
}

$portrait:    501px;
$landscape:   769px;
$laptop:      993px;
$desktop:     1201px;
$widescreen:  1401px;

@mixin on($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin overlay() {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin scrollbar($a, $b: $a, $c: $background) {
  &::-webkit-scrollbar{
    background: $c; width: $a;

    @include on($laptop) {
      width: $b;
    }
  }
  &::-webkit-scrollbar-thumb{ background: $link;}
}

@include keyframes(expand) {
  from{ left: 50%; width: 0%;}
  to  { left: 0%; width: 100%;}
}

@include keyframes(drop-in) {
  from{ opacity: 0; @include transform(scale(0));}
  to  { opacity: 1; @include transform(scale(1));}
}

@include keyframes(jelly){
  0% { opacity: 0; @include transform(matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  3.4% { opacity: 1; @include transform(matrix3d(0.384, 0, 0, 0, 0, 0.466, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  4.7% { @include transform(matrix3d(0.505, 0, 0, 0, 0, 0.639, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  6.81% { @include transform(matrix3d(0.693, 0, 0, 0, 0, 0.904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  9.41% { @include transform(matrix3d(0.895, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  10.21% { @include transform(matrix3d(0.947, 0, 0, 0, 0, 1.204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  13.61% { @include transform(matrix3d(1.111, 0, 0, 0, 0, 1.299, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  14.11% { @include transform(matrix3d(1.127, 0, 0, 0, 0, 1.298, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  17.52% { @include transform(matrix3d(1.187, 0, 0, 0, 0, 1.216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  18.72% { @include transform(matrix3d(1.191, 0, 0, 0, 0, 1.169, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  21.32% { @include transform(matrix3d(1.177, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  24.32% { @include transform(matrix3d(1.135, 0, 0, 0, 0, 0.964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  25.23% { @include transform(matrix3d(1.121, 0, 0, 0, 0, 0.944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  29.03% { @include transform(matrix3d(1.057, 0, 0, 0, 0, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  29.93% { @include transform(matrix3d(1.043, 0, 0, 0, 0, 0.909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  35.54% { @include transform(matrix3d(0.981, 0, 0, 0, 0, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  36.74% { @include transform(matrix3d(0.974, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  41.04% { @include transform(matrix3d(0.965, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  44.44% { @include transform(matrix3d(0.969, 0, 0, 0, 0, 1.029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  52.15% { @include transform(matrix3d(0.992, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  59.86% { @include transform(matrix3d(1.005, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  63.26% { @include transform(matrix3d(1.007, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  75.28% { @include transform(matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  85.49% { @include transform(matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  90.69% { @include transform(matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
  100% { opacity: 1; @include transform(matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));}
}