.content
  position: relative

.container
  +container(40rem)

.icon
  height: 32px
  position: relative
  width: 32px

.glyph
  +center
  // background: #000
  // height: calc(100vh - 36rem) // header height = 11rem
  // margin: 7rem 0
  // height: calc(100vh - 22rem)
  height: 20vh
  margin-bottom: 10vh

.title
  +center
  +overlay
  color: #000
  font-size: 6rem
  font-size: 10vmin
  font-weight: $weight-bold
  letter-spacing: 0.5em
  opacity: 0.04
  overflow: hidden
  padding: 0 10vw
  pointer-events: none
  position: fixed
  text-align: justify
  text-transform: uppercase
  // transition-duration: 86ms
  // transition-property: background, color, opacity
  word-break: break-all
  html.is-hovering &
    background: var(--colorLink)
    color: var(--colorLinkInvert)
    mix-blend-mode: multiply
    opacity: 1
    z-index: 86

.list
  +container(30rem)
  padding-bottom: 25vh

.item
  margin-bottom: 4em
  position: relative
  &:last-child
    margin-bottom: 0
  &.is-recommended
    background: #000
    color: #fff
    font-size: 1.6rem
    margin-top: 4em
    padding: 2em 0

.item-container
  +container(30rem)
  position: relative

.item-info,
.item-rank
  color: $text-light
  font-size: 0.8em
  white-space: nowrap

.item-title
  font-size: 1.4em
  line-height: 1.2
  a
    +visited
    padding: 2px 0

.item-link
  a
    +visited
    padding: 2px 0

.item-icons
  align-items: center
  display: flex
  margin-top: 1rem
  li
    margin-right: 0.5rem
  svg
    height: 1rem
    path
      fill: $border

.item-stars
  display: flex
  height: 30px
  margin-top: 0.5rem

.item-content
  p + p
    margin-top: 1em
  a
    +visited

.item-image
  img
    max-height: 320px

+desktop
  .item
    &.is-recommended
      padding: 4em
  .item-rank
    color: $text-light
    margin-right: 2rem
    position: absolute
    right: 100%
    text-align: right
    top: 0.3rem
  .item-stars
    left: 100%
    margin-left: 1rem
    margin-top: 0
    position: absolute
    top: 0
