.jt
  background: $pink
  border-radius: 2px
  display: block
  height: 32px
  left: 50%
  padding: 8px
  position: absolute
  width: 32px
  svg
    display: block
    height: 16px
    width: 16px

.menu-link
  color: $text
  position: relative
  .icon
    bottom: 100%
    left: 50%
    margin-left: -16px
    opacity: 1
    position: absolute
    transform: scale(0.5) translateY(-1rem)
    transform-origin: center bottom
    transition-duration: 100ms
    transition-property: opacity, transform
  &:hover
    .icon
      opacity: 1
      transform: scale(0.5) translateY(-1rem)

+desktop
  .jt
    left: 60px
    position: absolute
    top: 60px
  .menu
    position: absolute
    right: 60px
    top: 60px
  .menu-list
    align-content: center
    display: flex
    justify-content: center
  .menu-item
    margin-left: 2rem
