.heading
  +container(40rem)
  margin-top: 4rem

.heading-info
  color: $text-light
  font-size: 0.8em

.heading-title
  font-size: 1.8rem
  line-height: 1.2

.heading-introduction
  font-size: 1.2rem

.heading-nav
  +center
  margin-bottom: 4rem
  a
    +underline
    margin: 0 0.5rem
    &.is-active
      color: $black
