.header{
  height: 60px; left: 0; position: absolute; text-align: center; top: 20px; width: 100%; z-index: 1;

  @include on($laptop) {
    top: 60px;
  }
}

.jt{
  box-shadow: inset 0 0 0 1px $link; border-radius: 290486px; display: block; height: 60px; margin: 0 auto; position: relative; @include transition(all $speed ease); width: 60px;
  &:before{ @include overlay(); background: $link; border-radius: 290486px; content: " "; display: block; opacity: 0;}
  span{
    @include replace(); background: $link; display: block; height: 4px; position: absolute; @include transition(all $speed ease); width: 4px;
    &.a{ left: 18px; top: 20px;}
    &.b{ left: 22px; top: 20px;}
    &.c{ left: 26px; top: 20px;}
    &.d{ left: 26px; top: 24px;}
    &.e{ left: 26px; top: 28px;}
    &.f{ left: 26px; top: 32px;}
    &.g{ left: 22px; top: 36px;}
    &.h{ left: 18px; top: 36px;}
    &.i{ left: 14px; top: 32px;}
    &.j{ left: 42px; top: 20px;}
    &.k{ left: 38px; top: 20px;}
    &.l{ left: 34px; top: 20px;}
    &.m{ left: 34px; top: 24px;}
    &.n{ left: 34px; top: 28px;}
    &.o{ left: 34px; top: 32px;}
    &.p{ left: 34px; top: 36px;}
  }
  &:hover,
  &.active{
    &:before{ @include animation(jelly 1000ms linear both);}
    span{
      @include animation(jelly 1000ms linear both); background: white;
      &.a{ @include animation-delay(850ms);}
      &.e{ @include animation-delay(100ms);}
      &.i{ @include animation-delay(150ms);}
      &.m{ @include animation-delay(200ms);}
      &.b{ @include animation-delay(250ms);}
      &.f{ @include animation-delay(300ms);}
      &.j{ @include animation-delay(350ms);}
      &.n{ @include animation-delay(400ms);}
      &.c{ @include animation-delay(450ms);}
      &.g{ @include animation-delay(500ms);}
      &.k{ @include animation-delay(550ms);}
      &.o{ @include animation-delay(600ms);}
      &.d{ @include animation-delay(650ms);}
      &.h{ @include animation-delay(700ms);}
      &.l{ @include animation-delay(750ms);}
      &.p{ @include animation-delay(800ms);}
    }
    &:hover{ box-shadow: inset 0 0 0 30px $link;}
    &.active{ box-shadow: none;}
  }

  @include on($laptop) {
    float: left;
  }
}

.toggle{
  display: block; height: 40px; position: absolute; top: 10px; width: 40px;
  span{ @include replace(); position: absolute;}
  .fa{ color: $light; font-size: 21px; line-height: 40px;}
  &.toggle-menu{
    left: 20px;
  }
  &.toggle-elsewhere{
    right: 20px;
    .fa{ font-size: 28px;}
  }

  @include on($laptop) {
    display: none;
  }
}

.dropdown{
  background: white; border-radius: 5px; box-shadow: 0 5px 10px rgba(black, 0.2); display: none; overflow: hidden; position: absolute; top: 50px;
  li{
    display: inline;
    a{ border-bottom: 1px solid $border; display: block; padding: 10px;}
    &:last-child{
      a{ border-bottom: none;}
    }
  }
  &.dropdown-menu{
    left: 20px; letter-spacing: 0.05em; text-align: left;
    li a{
      color: $text; padding-right: 40px;
      &:hover,
      &.active{ color: $title;}
    }
  }
  &.dropdown-elsewhere{
    font-size: 21px; right: 20px;
    a{
      color: $border; height: 41px; padding: 0; text-align: center; width: 40px;
      .fa{ line-height: 40px;}
      &:hover{ color: white;}
      &.github{ @include pop($github);}
      &.instagram{ @include pop($instagram);}
      &.rss{ @include pop($rss);}
      &.hacker-news{ @include pop($hacker-news);}
      &.soundcloud{ @include pop($soundcloud);}
      &.twitter{ @include pop($twitter);}
    }
  }

  @include on($laptop) {
    background: none; box-shadow: none; display: block; float: left; overflow: visible; padding-top: 20px; position: relative; top: auto;
    li{
      a{ border-bottom: none; float: left; padding: 0;}
    }
    &.dropdown-menu{
      li a{
        margin-right: 20px; padding: 0;
        &.active{
          @include border();
          &:before{ bottom: -5px;}
        }
      }
    }
    &.dropdown-elsewhere{
      float: right; padding-top: 10px;
      li a{ border-radius: 20px; height: 40px;}
    }
  }
}

.overlay{
  @include overlay(); background: rgba(black, 0.1); display: none; position: fixed;
}

.footer{
  display: none;
}

html.menu-open,
html.elsewhere-open{
  height: 100%; overflow: hidden; width: 100%;
  .overlay{ display: block;}
}

html.menu-open{
  .dropdown-menu{ display: block;}
}

html.elsewhere-open{
  .dropdown-elsewhere{ display: block;}
}

@include on($laptop) {
  html.menu-open,
  html.elsewhere-open{
    height: auto; overflow: visible; width: auto;
  }
}
