.header{
  height: 60px; left: 0; position: absolute; text-align: center; top: 20px; width: 100%; z-index: 1;

  @include on($laptop) {
    top: 40px;
  }
}

.jt{
  @include replace(); border: 1px solid $link; border-radius: 290486px; display: block; height: 60px; margin: 0 auto; width: 60px;

  @include on($laptop) {
    float: left;
  }
}

.toggle{
  display: block; height: 40px; position: absolute; top: 10px; width: 40px;
  span{ @include replace(); position: absolute;}
  .fa{ color: $light; font-size: 21px; line-height: 40px;}
  &.toggle-menu{
    left: 20px;
  }
  &.toggle-elsewhere{
    right: 20px;
    .fa{ font-size: 28px;}
  }

  @include on($laptop) {
    display: none;
  }
}

.dropdown{
  background: white; border-radius: 5px; box-shadow: 0 5px 10px rgba(black, 0.2); display: none; position: absolute; top: 50px;
  li{
    display: inline;
    a{ border-bottom: 1px solid $border; display: block; padding: 10px;}
    &:last-child{
      a{ border-bottom: none;}
    }
  }
  &.dropdown-menu{
    left: 20px; letter-spacing: 0.05em; text-align: left;
    li a{ color: $text; padding-right: 40px;}
  }
  &.dropdown-elsewhere{
    font-size: 21px; right: 17px;
  }

  @include on($laptop) {
    background: none; box-shadow: none; display: block; float: left; padding-top: 20px; position: relative; top: auto;
    li{
      a{ border-bottom: none; float: left; padding: 0;}
    }
    &.dropdown-menu{
      li a{ margin-right: 20px; padding: 0;}
    }
    &.dropdown-elsewhere{
      float: right;
      li a{ margin-left: 20px;}
    }
  }
}

.overlay{
  @include overlay(); background: rgba(black, 0.1); display: none; position: fixed;
}

.footer{
  display: none;
}

html.menu-open,
html.elsewhere-open{
  height: 100%; overflow: hidden; width: 100%;
  .overlay{ display: block;}
}

html.menu-open{
  .dropdown-menu{ display: block;}
}

html.elsewhere-open{
  .dropdown-elsewhere{ display: block;}
}

@include on($laptop) {
  html.menu-open,
  html.elsewhere-open{
    height: auto; overflow: visible; width: auto;
  }
}
