$jt: #f0224b

$blue: #147efb
$cyan: #5fc9f8
$green: #53d769
$orange: #fd9426
$red: #fc3d39
$yellow: #fecb2e

// Clients

$improbable: #ff2e01
$marksheet: #d16098
$bulma: #1fc8db
$ivanballini: #de7f2b

// Social

$facebook: #3b5998
$github: #333333
$instagram: #3f729b
$hacker-news: #ff6600
$soundcloud: #ff8800
$twitter: #55acee
$rss: #f26522

// Colors

$background:    hsl(0, 0%, 96%)
$visited:       hsl(0, 0%, 71%)
$text-light:    hsl(0, 0%, 48%)
$text:          hsl(0, 0%, 29%)
$text-strong:   hsl(0, 0%, 14%)
$link:          $jt

// Miscellaneous

$easing: ease-out
$opacity-light: 0.29
$opacity-strong: 0.86
$speed: 86ms

$font-family-primary: "Karla", "Arial", sans-serif

$size-h3: 24px
$size-default: 16px
$size-small: 14px
