// Brands

$jt: #f55347

$web: #6ecd56
$html5: #f16529
$css3: #33a9dc

$improbable: #ff2e01

$marksheet: #d16098
$marksheet-dark: #f4a35b
$marksheet-1: $marksheet-dark
$marksheet-2: #f4655b
$marksheet-3: $marksheet
$marksheet-4: #ca3469

$ivan-grey: #eae8e3
$ivan-beige: #b8ac8d
$ivan-brique: #de7f2b

$github: #333333
$instagram: #3f729b
$hacker-news: #ff6600
$soundcloud: #ff8800
$twitter: #55acee
$rss: #f26522

// Base

$black: #080e1d
$black-light: #0f182f

$grey: #1e2d4d
$grey-light: #405477

$white: #abbacd
$white-light: #f3f6f9

$turquoise: #0dc4d8
$purple: #2a208b
$red: #f34226

// Infered

$text: $white
$text-strong: $white-light
$text-light: $grey-light

$link: $turquoise

// Font

$family-primary: "Coves", "Roboto", "Source Sans Pro", "Open Sans", Arial, sans-serif

$size-normal: 24px

$weight-normal: 300
$weight-bold: 700

// Miscellaneous

$speed: 86ms
$easing: ease-out
