$white:     hsl(217, 14%, 96%);
$lighter:   hsl(217, 14%, 86%);
$light:     hsl(217, 14%, 71%);
$medium:    hsl(217, 14%, 48%);
$dark:      hsl(217, 14%, 29%);
$black:     hsl(217, 14%, 14%);

$red: #f55347;

$github: #333333;
$instagram: #3f729b;
$soundcloud: #ff8800;
$twitter: #55acee;
$rss: #f26522;

$text: $medium;
$title: $black;
$subtitle: $lighter;
$link: $red;
$visited: $medium;
$background: $white;
$border: $lighter;

$small: 0.875rem;

$font-family-primary: "Karla", "Roboto", "Source Sans Pro", "Open Sans", Arial, sans-serif;

