$white:     hsl(217, 14%, 96%);
$lighter:   hsl(217, 14%, 86%);
$light:     hsl(217, 14%, 71%);
$medium:    hsl(217, 14%, 48%);
$dark:      hsl(217, 14%, 29%);
$black:     hsl(217, 14%, 14%);

$jt: #f55347;

$blue: #42afe3;
$green: #97cd76;
$orange: #f68b39;
$purple: #847bb9;
$red: #ed6c63;
$turquoise: #42e3d0;
$yellow: #fce473;

$web: #6ecd56;
$html5: #f16529;
$css3: #33a9dc;

$brique: #de7f2b;
$beige: #b8ac8d;

$github: #333333;
$instagram: #3f729b;
$soundcloud: #ff8800;
$twitter: #55acee;
$rss: #f26522;

$text: $medium;
$title: $black;
$subtitle: $lighter;
$link: $jt;
$visited: $medium;
$background: $white;
$border: $lighter;

$small: 0.875rem;
$speed: 141ms;
$easing: ease-out;

$font-family-primary: "Karla", "Roboto", "Source Sans Pro", "Open Sans", Arial, sans-serif;

