<div class="icon icon--diamond">
  <div class="diamond">
    <div class="diamond-dust diamond-dust-1">
      <div class="diamond-wheel">
        <div class="diamond-lines"></div>
      </div>
    </div>
    <div class="diamond-dust diamond-dust-2">
      <div class="diamond-wheel">
        <div class="diamond-lines"></div>
      </div>
    </div>
    <svg class="diamond-svg" width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <polygon class="diamond-polygon" fill="none" stroke="#000" stroke-width="4" stroke-linecap="round" points="16,2 30,16 16,30 2,16"></polygon>
    </svg>
  </div>
</div>
