<div class="icon">
  <div class="right">
    <div class="right-mini right-mini-1">
      <div class="right-triangle"></div>
    </div>
    <div class="right-mini right-mini-2">
      <div class="right-triangle"></div>
    </div>
    <div class="right-mini right-mini-3">
      <div class="right-triangle"></div>
    </div>
    <svg class="right-svg" width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <polygon class="right-polygon" fill="none" stroke="#000" stroke-width="4" stroke-linecap="round" points="6,2 26,16 6,30"></polygon>
    </svg>
  </div>
</div>