<div class="icon icon--up">
  <div class="up">
    <div class="up-road up-road-1">
      <div class="up-line"></div>
    </div>
    <div class="up-road up-road-2">
      <div class="up-line"></div>
    </div>
    <div class="up-road up-road-3">
      <div class="up-line"></div>
    </div>
    <div class="up-road up-road-4">
      <div class="up-line"></div>
    </div>
    <div class="up-car up-car-1"></div>
    <div class="up-car up-car-2"></div>
    <svg class="up-svg" width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <polygon class="up-polygon" fill="none" stroke="#000" stroke-width="4" stroke-linecap="round" points="16,2 2,30 30,30"></polygon>
    </svg>
  </div>
</div>
