@charset "utf-8"

@import "variables"
@import "mixins"

.articles
  padding-bottom: $space-mobile
  padding-left: 20px
  padding-right: 20px
  position: relative
  &-year,
  &-season
    background: $border
    border-radius: 3px
    color: $jt
    display: none
    font-size: $size-tiny
    height: 1.25rem
    line-height: 1.25rem
    text-align: center
    vertical-align: top
    width: 48px
  &-season
    width: 44px
    &.is-win
      background: $cyan
      color: $cyan-invert
    &.is-spr
      background: $green
      color: $green-invert
    &.is-sum
      background: $yellow
      color: $yellow-invert
    &.is-aut
      background: $orange
      color: $orange-invert
  &-border
    display: none
  &-article
    margin-bottom: 2rem
    padding-left: 20px
    position: relative
    &:last-child
      margin-bottom: 0
    &.is-recommended
      .articles-title
        font-weight: 700
  &-star
    color: $yellow
    height: 20px
    left: -8px
    position: absolute
    text-align: center
    top: 2px
    width: 20px
    svg
      height: 20px
      width: 20px
      path
        fill: $yellow
  &-info
    float: right
    font-size: $size-tiny
    margin-left: 10px
    padding-top: 4px
    text-align: right
  &-date
    display: block
  &-title
    @extend %family-secondary
    font-size: $size-medium
    line-height: 1.2
    a
      +visited
      border-radius: $radius
      display: inline-block
      left: -0.25em
      padding: 0.125em 0.25em
      position: relative
      vertical-align: top
  &-introduction
    color: $text-light
    font-size: $size-small
    line-height: 1.2
    margin-top: 5px
  &.only-recommended
    .articles-article:not(.is-recommended)
      display: none
  +tablet
    padding-bottom: $space-desktop
    padding-left: $space-desktop
    padding-right: $space-desktop
  +desktop
    padding-left: $space-side
    padding-right: $space-side
    &-year,
    &-season
      display: inline-block
      left: $space-side
      margin-top: calc(#{$size-medium} * 1.2 * 1.25 / 2)
      position: absolute
      transform: translateY(-50%)
      &.affix
        position: fixed
        top: 60px
    &-year
      z-index: 1
    &-season
      left: $space-side + 70px
    &-article
      padding-left: $column-width + $column-gap
    &-star
      left: 128px
      line-height: 33px
      position: absolute
      text-align: center
      top: 5px
      width: 30px

+skrollr("#articles")

// .heading
//   -skrollr-anchor-target: "#articles"
//   -skrollr-animation-name: headingAnimation

// @-skrollr-keyframes headingAnimation
//   center-top
//     opacity: 1
//     transform: scale(1) translateY(0%)
//   top-top
//     opacity: 0
//     transform: scale(0.9) translateY(-40%)

// #articles
//   -skrollr-animation-name: pageAnimation

// @-skrollr-keyframes pageAnimation
//   center-top
//     background: #{'rgba(255,255,255,0)'}
//   top-top
//     background: #{'rgba(255,255,255,1)'}

// #footer
//   -skrollr-anchor-target: "#articles"
//   -skrollr-animation-name: footerAnimation

// @-skrollr-keyframes footerAnimation
//   top-top
//     opacity: 0
//   top-center
//     opacity: 1
//   top-bottom
//     opacity: 1
