@charset "utf-8"

@import "variables"
@import "mixins"

$behind: -200px
$middle: -50px
$front: 100px

.index
  padding-top: ($space-mobile + $magic)
  text-align: center
  &-section
    align-items: center
    display: flex
    padding-top: 50px + $magic
    &:last-child
      padding-bottom: 50px + $magic
  &-image
    display: none
    position: absolute
    &-background
      +overlay
      background-position: 0 0
      background-repeat: no-repeat
      background-size: 100% 100%
    // Improbable
    &.is-improbable-icon
      height: 496px
      left: 75%
      top: 50%
      transform: translate3d(0, -75%, $behind)
      width: 486px
      z-index: 2
      .index-image-background
        background-image: url("/images/index/improbable-icon.png")
    &.is-worlds-adrift
      height: 620px
      left: 0
      top: 50%
      transform: translate3d(-15%, -50%, $front)
      width: 1020px
      z-index: 4
      .is-animated
        animation-delay: $speed
      .index-image-background
        background-image: url("/images/index/worlds-adrift.png")
    &.is-improbable
      bottom: 0
      height: 360px
      left: 50%
      transform: translate3d(10%, 10%, $middle)
      width: 720px
      z-index: 70
      .is-animated
        animation-delay: $speed * 2
      .index-image-background
        background-image: url("/images/index/improbable.jpg")
    // MarkSheet
    &.is-marksheet-m
      height: 392px
      right: 100%
      top: 50%
      transform: scale(2) translate3d(0, -50%, $behind)
      transform-origin: right center
      width: 377px
      z-index: 2
      .index-image-background
        background-image: url("/images/index/marksheet-m.png")
    &.is-marksheet-frame
      height: 800px
      left: 75%
      top: 50%
      transform: translate3d(-25%, -50%, $middle)
      width: 600px
      z-index: 4
      .index-image-background
        background-image: url("/images/index/marksheet-frame.png")
    &.is-marksheet
      height: 240px
      left: 60%
      top: 50%
      transform: translate3d(-50%, -50%, $front)
      width: 240px
      z-index: 70
      .index-image-background
        background-image: url("/images/index/marksheet.png")
    // Bulma
    &.is-bulma-type
      height: 200px
      left: 50%
      top: 50%
      transform: translate3d(100%, -50%, $behind)
      width: 537px
      z-index: 2
      .index-image-background
        background-image: url("/images/index/bulma-type.png")
    &.is-bulma
      height: 320px
      left: 50%
      top: 50%
      transform: translate3d(0, -50%, $front)
      width: 220px
      z-index: 70
      .index-image-background
        background-image: url("/images/index/bulma.png")
    // Ivan Ballini
    &.is-ivanballini-logo
      height: 178px
      left: 50%
      top: 50%
      transform: translate3d(-50%, -50%, $behind)
      width: 804px
      z-index: 2
      .index-image-background
        background-image: url("/images/index/ivanballini-logo.png")
    &.is-ivanballini-frame
      height: 576px
      left: 0
      top: 50%
      transform: translate3d(-15%, -50%, -100px)
      width: 1024px
      z-index: 4
      .index-image-background
        background-image: url("/images/index/ivanballini-frame.png")
    &.is-ivanballini
      height: 576px
      left: 50%
      top: 50%
      transform: translate3d(0, -30%, 25px)
      width: 1024px
      z-index: 70
      .index-image-background
        background-image: url("/images/index/ivanballini.jpg")
  &-content
    font-size: $size-medium
    margin: 0 40px
    position: relative
    z-index: 8
    a
      border-bottom: 2px solid $link
    br
      display: none
  &-more
    margin: 40px 40px 0
    opacity: $opacity-light
    &-subtitle
      color: $black
      font-size: $size-small
      margin-bottom: -10px
    &-content
      display: flex
      flex-wrap: wrap
      justify-content: center
      li
        align-items: center
        display: flex
        justify-content: center
        margin: 20px 10px 0
      svg
        max-height: 40px
        max-width: 100px
        path
          fill: $black
  +tablet
    &-content
      font-size: $size-medium-tablet
      margin: 0 100px
  +desktop
    height: 100vh
    overflow: auto
    overflow-x: hidden
    padding: 0
    perspective: 348px
    text-align: left
    +scrollbar($black, white, 4px)
    &-section
      height: 100vh
      min-height: 640px
      position: relative
      .container
        width: 940px
    &-image
      display: block
    &-content
      font-size: 32px
      margin: 0 50% 0 0
      br
        display: block
    &-more
      margin-left: 0
      margin-right: 50%
      position: relative
      &-subtitle
        margin-bottom: 0
        margin-right: 20px
        margin-top: -11px
        position: absolute
        right: 100%
        top: 50%
        white-space: nowrap
      &-content
        justify-content: flex-start
        li
          margin-left: 0
          margin-right: 20px
          margin-top: 0

.index-section
  &.is-improbable
    .index-content
      a
        border-bottom-color: $improbable
        color: $improbable
        &:hover
          background-color: $improbable
          color: white
  &.is-marksheet
    .index-content
      a
        border-bottom-color: $marksheet
        color: $marksheet
        &:hover
          background-color: $marksheet
          color: white
  &.is-bulma
    .index-content
      a
        border-bottom-color: $bulma
        color: $bulma
        &:hover
          background-color: $bulma
          color: white
  &.is-ivanballini
    .index-content
      a
        border-bottom-color: $ivanballini
        color: $ivanballini
        &:hover
          background-color: $ivanballini
          color: white
