<nav id="elsewhere" class="nav is-elsewhere">
  <ul>
    <li>
      <a class="nav-link is-twitter" href="https://twitter.com/jgthms">
        {% include svg/twitter.html %}
      </a>
    </li>
    <li>
      <a class="nav-link is-github" href="https://github.com/jgthms">
        {% include svg/github.html %}
      </a>
    </li>
    <li>
      <a class="nav-link is-instagram" href="https://instagram.com/jgthms">
        {% include svg/instagram.html %}
      </a>
    </li>
    <li>
      <a class="nav-link is-hacker-news" href="https://news.ycombinator.com/user?id=bbx">
        {% include svg/hacker-news.html %}
      </a>
    </li>
    <li>
      <a class="nav-link is-soundcloud" href="https://soundcloud.com/jgthms">
        {% include svg/soundcloud.html %}
      </a>
    </li>
    <li>
      <a class="nav-link is-rss" href="/atom.xml">
        {% include svg/rss.html %}
      </a>
    </li>
    <li id="contact">
      <a class="nav-link is-email">
        {% include svg/envelope.html %}
      </a>
    </li>
  </ul>
</nav>
