<!DOCTYPE html>
<html class="{% if page.route %}is-{{page.route}}{% elsif page.layout %}is-{{page.layout}}{% endif %}">
  {% include head.html %}
  <body>
    <header class="header">
      {% include jt.html %}
      {% if page.route == "index" %}
        <div class="hello">
          <h1>
            <strong>Frontend Designer</strong> from Bordeaux, currently working for <a class="is-improbable" data-color="#ff2e01" data-title="Build worlds where everything matters" href="https://improbable.io">Improbable</a> in sunny London.
          </h1>
          <p>
            I wrote <a class="is-marksheet" data-color="#d16098" data-title="Free HTML and CSS tutorial" href="http://marksheet.io/">MarkSheet</a>, <a class="is-bulma" data-color="#00d1b2" data-title="Modern CSS framework based on Flexbox" href="http://bulma.io/">Bulma</a>, <a class="is-cssreference" data-color="#310736" data-title="Visual and animated guide to CSS properties" href="http://cssreference.io/">CSS Reference</a>, <a class="is-htmlreference" data-color="#ff470f" data-title="Guide to all HTML5 elements and attributes" href="http://htmlreference.io/">HTML Reference</a>, and <a class="is-web4min" href="http://jgthms.com/web-design-in-4-minutes/" data-color="#e81c4f" data-title="Self-referential experiment">Web Design in 4 minutes</a>.
          </p>
          <p>
            <small>
              I also taught web development at the <abbr title="London School of Economics">LSE</abbr> for <a class="is-codeatuni" data-color="#ff8533" data-title="Learn to code in a weekend" href="http://www.codeatuni.com/">Code at Uni</a>.
            </small>
          </p>
        </div>
      {% endif %}
      {% include nav.html %}
    </header>
    {% if page.route != "index" and  page.layout != "post" %}
      {% include glyph.html %}
    {% endif %}
    <h1 id="title" class="title">
      <div>
        {{page.pageTitle}}
      </div>
    </h1>
    <main id="content" class="content">
      {{content}}
    </main>
    <footer class="elsewhere">
      <a data-color="#55acee" data-title="Follow me on Twitter" class="elsewhere-link is-twitter" href="https://twitter.com/jgthms">
        {% include svg/twitter.html %}
      </a>
      <a data-color="#333333" data-title="Follow me on GitHub" class="elsewhere-link is-github" href="https://github.com/jgthms">
        {% include svg/github.html %}
      </a>
    </footer>
    {% include scripts.html %}
  </body>
</html>
