<!doctype html>
<html>
	<head>
		<meta charset="utf-8"> 
		<title>{{ page.title }}</title>
    <meta name="author" content="J. Thomas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="jgthms">
		<link rel="icon" href="/favicon.ico">
	</head>
  <body>
    <header>
      <a id="logo" href="/">
        <img src="/jt.png" alt="JT">
        <em>Thoughts of a retired designer</em>
      </a>
    </header>
    {{ content }}
    <div style="clear: both;"></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>
    $(document).ready(function(){

      R = function(s) {
          return R13(R5(s));
      }

      R5 = function(s) {
        var b = [],c,i = s.length,a = '0'.charCodeAt(),z = a + 10;
        while (i--) { 
          c = s.charCodeAt(i);
          if (c >= a && c < z) { b[i] = String.fromCharCode(((c - a + 5) % (10)) + a); }
          else { b[i] = s.charAt(i); }
        }
        return b.join('');
      }

      R13 = function(s) {
        var b = [],c,i = s.length,a = 'a'.charCodeAt(),z = a + 26,A = 'A'.charCodeAt(),Z = A + 26;
        while (i--) {
          c = s.charCodeAt(i);
          if (c >= a && c < z) { b[i] = String.fromCharCode(((c - a + 13) % (26)) + a); }
          else if (c >= A && c < Z) { b[i] = String.fromCharCode(((c - A + 13) % (26)) + A); }
          else { b[i] = s.charAt(i); }
        }
        return b.join('');
      }
      
      var c = $('#c');
      var t = 'znvygb:'
      var m = 'ookqrfvta@tznvy.pbz';
      var a = $('<a/>', {
        href: R(t+m),
        title: 'Contact me',
        text: R(m)
      });
      c.attr('title', R(t+m));
      c.attr('href', R(t+m));
        
    });
    </script>
	</body>
</html>
