---
layout: default
route: post
---

<div class="container">
  <p class="post-back">
    <a href="/articles.html">Back</a>
  </p>

  <header class="post-header">
    <p class="post-info">
      <em class="post-date">{{page.date | date_to_string}}</em>
      in
      <strong class="post-category">{{page.category}}</strong>
    </p>
    <h1 class="post-title">{{page.title}}</h1>
    <h2 class="post-introduction">{{page.introduction}}</h2>
  </header>

  <article id="content" class="post-content">
    {{content}}
  </article>

  <aside class="post-share">
    <nav class="post-share-nav">
      <p class="post-share-title">Liked this article?</p>
      <a
        class="post-share-button is-facebook"
        href="http://www.facebook.com/sharer.php?u={{site.url | url_encode}}{{page.url | url_encode}}"
        rel="nofollow"
        target="_blank"
        >
        <i class="fa fa-facebook"></i>
        <span>Share on</span> <strong>Facebook</strong>
      </a>
      <a
        class="post-share-button is-twitter"
        data-social-network="Twitter"
        data-social-action="tweet"
        data-social-target="{{site.url}}{{page.url}}"
        href="https://twitter.com/intent/tweet?url={{site.url | url_encode}}{{page.url | url_encode}}&text={{page.title}}&via=jgthms"
        rel="nofollow"
        target="_blank"
        >
        <i class="fa fa-twitter"></i>
        <span>Share on</span> <strong>Twitter</strong>
      </a>
    </nav>
  </aside>

  <nav class="post-pagination">
    {% if page.previous %}
      <a class="post-pagination-next" href="{{page.previous.url}}" rel="previous">
        Next &rarr;
        <strong>{{page.previous.title}}</strong>
      </a>
    {% endif %}

    {% if page.next %}
      <a class="post-pagination-previous" href="{{page.next.url}}" rel="next">
        &larr; Previous
      </a>
    {% else %}
      <span class="post-pagination-previous is-disabled">
        &larr; Previous
      </span>
    {% endif %}

    <a id="top" class="post-pagination-top">
      Back to top &uarr;
    </a>
  </nav>
</div>
