---
layout: default
route: post
---

<div class="post">
  <div class="container">
    <hgroup class="heading">
      <p class="info">
        <em class="date">{{ page.date | date_to_string }}</em>
        <strong class="category">{{ page.category }}</strong>
      </p>
      <h1 class="title">{{ page.title }}</h1>
      <h2 class="introduction">{{ page.introduction }}</h2>
    </hgroup>

    <article class="content">
      {{ content }}
    </article>

    <nav class="pagination">
      {% if page.next %}
        <a href="{{ page.next.url }}">
          <em>Next &rarr;</em>
          <strong>{{ page.next.title }}</strong>
        </a>
      {% endif %}
    </nav>

    <!-- <nav id="navigation" class="navigation">
      {% if page.next %}
        <a href="{{ page.next.url }}">Next article</a>
      {% endif %}
      {% if page.previous %}
        <a href="{{ page.previous.url }}">Previous</a>
      {% endif %}
      <a id="top">Back to top</a>
    </nav> -->
  </div>
</div>
